{strip}

/**
 * Index:
 *
 * 00. BASIC
 * 01. MAIN
 * 02. HEADER
 * 03. COMMON
 * 04. POST
 * 05. COMMENT
 * 06. BOX
 * 07. BLOG
 * 08. PUBLISHER
 * 09. AUTO-COMPLETE
 * 10. LIGHTBOX
 * 11. CHAT
 * 12. EMOJI
 * 13. PAGE = [BASIC]
 * 14. PAGE = [INDEX]
 * 15. PAGE = [STARTED]
 * 16. PAGE = [HOME]
 * 17. PAGE = [MESSAGES]
 * 18. PAGE = [PROFILE]
 * 19. PAGE = [ADMIN]
 * 20. PAGE = [PACKAGES]
 * 21. PAGE = [MARKET]
 * 22. NOTY NOTIFICATION
 * 23. TRANSLATOR
 * 24. BIG ICON
 * 25. SEE MORE
 * 26. LOADER
 * 27. POST LOADER
 * 28. ON/OFF TOGGLE
 * 29. FANCY CHECKBOX
 * 30. PROGRESS BAR
 * 31. EXTRAS
 * 32. RESPONSIVE 480
 * 33. RESPONSIVE 786
 * 34. RESPONSIVE 786
 * 35. OFFCANVAS
 */


/* BASIC */
/* ------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
ol, ul {
	list-style-type: none;
	margin: 0px;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
a img {
	border: 0;
}
img {
	max-width: 100%;
	border: 0 none;
	height: auto;
	vertical-align: middle;
}
.display-block {
	display: block;
}
body {
	padding: 0;
	margin: 0px;
	color: #555;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: Apple LiGothic Medium, STHeiti, LiHei Pro Medium, Microsoft YaHei, Microsoft JhengHei;
}
.translator-language{
	color: #555;
}
.mt10{float:left!important}
.wrapper {
	width: 100%;
	float: left;
}
.inner-wrapper {
	display: inline-block;
	width: 100%;
	padding: 20px 0;
}
.Pad0 {
	padding: 0px !important;
}
.Pad10 {
	padding-top: 10px !important;
}
.PadTB10 {
	padding: 10px 0!important;
	display: inline-block;
}
.PadB10 {
	padding-bottom: 10px!important;
	display: inline-block;
}
.BdrN {
	border: none !important;
}
.bg-none {
	background: none !important;
}
.padt0 {
	padding-top: 0 !important;
}
.margin-top-50 {
	margin-top: 50px !important;
}
.margin-bottom-50 {
	margin-bottom: 50px !important;
}
h1, h2, h3, h4, h5, h6, p {
	clear: both;
	padding: 0;
	margin: 0;
}
p {
	clear: both;
	padding: 0 0 12px 0;
	margin: 0;
	line-height: 26px;
	font-size: 16px;
}
a {
	color: #5a656b;
}
p a:hover, a, a:hover {
	text-decoration: none;
}



::-webkit-input-placeholder {
 color: #898989;
}
::-moz-placeholder {
 color: #898989;
opacity: 1;
}
:-ms-input-placeholder {
 color: #898989;
opacity: 1;
}
:-moz-placeholder {
 color: #898989;
opacity: 1;
}
body {
	background: #e9eaee;
}
.twitter-main {
	float: left;
	width: 100%;
	background: #fff;
	position: relative;
}
.top-box {
	float: left;
	width: 100%;
	background: #fff;
}
.twitter-header {
	width: 100%;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: #fff;padding: 8px 0 0 0;
	box-shadow: 0 2px 2px rgba(0,0,0,.04),0 1px 0 rgba(0,0,0,.04);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-top: 0px;
	margin-left: 2px;
	vertical-align: top;
	border-top: 4px solid #66757f;
	border-top-color: rgb(102, 117, 127);
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	vertical-align: middle;
}
.right-section {
	float: right;
	position: relative;
	margin-top: 12px;
}
.right-section ul > li > a, .left-section ul > li > a, .js-current-language {
	color: #5a656b;
	font-size: 17px;
	font-weight: bold;
}
.right-section small {
	font-weight: normal;
	font-size: 12px;
}
.right-section li {
	margin: 14px 0 5px 0;
}
.right-section .dropdown-menu li {
	margin: 0px;
}
.right-section .dropdown-menu ul > li > a {
	padding: 10px 20px;
	display: inline-block;
	width: 100%;
	font-weight: normal;
}
.right-section .dropdown-menu {
	right: 0px;
	display: none;
	left: auto;
	border-radius: 4px;
}
.right-section .dropdown-menu ul li a:hover {
	color: #fff;
	background: #5a656b;
}
.left-section {
	/*float: left;
	width: 235px;*/
}
.left-section ul {
    padding-top: 12px;
}
.left-section li {
	float:left;
	/*border-left: 1px solid #e6ecf0;*/
}
/*.left-section li:last-child{
    border-right: 1px solid #e6ecf0;
}*/

.left-section li a {
	float:left;
	height: 57px;
	padding: 0 10px;
	line-height: 53px;
}
.left-section li a:hover {
	border-bottom:2px solid #000; color:#000;
	transition: all .15s ease-in-out;
}
.hand_icon{ margin-right:8px;position: relative;top:-4px;}
.login_footer .footer {
    border:none;
    margin-top: 282px;
    /*background: rgba(0,0,0,0.6);*/
    padding: 27px 0 0 0;
}
.login_footer .footer a, .login_footer .footer a:hover{ color:#fff;}
.login_footer .container {
    max-width: 100%;
}
.login_footer .text-link{ color:#fff;}
.twitter-header .Icon--home {
	margin-right: 5px;
	margin-top: 10px;
	float: left;font-size: 24px;
}
.right-section .text-link {font-size: 17px;}

.right-section .dropdown-caret .caret-outer, .dropdown-caret .caret-inner {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	margin-left: -1px;
}
.right-section .dropdown-menu .dropdown-caret {
	position: absolute;
	top: -10px;
	left: 12px;
	width: 18px;
	height: 10px;
	float: left;
	overflow: hidden;
}
.right-section .dropdown-caret.right {
	left: auto;
	right: 10px;
}
.right-section .dropdown-caret .caret-inner {
	top: 1px;
	left: 1px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #fff;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-color: #fff;
}
.right-section .dropdown-caret .caret-outer {
	border-bottom: 10px solid #657786;
	border-bottom-color: rgb(101, 119, 134);
	border-bottom-color: rgba(0,0,0,0.1);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: auto;
	left: 0;
	top: 0;
	width: auto;
}
.banner-section {
	float: left;
	width: 100%;
	height: 100vh;
}
.banner-section .main-slider img {
	width: 100%;
}
.banner-section .bx-wrapper, .featured-img, .banner-section .main-slider img {
	height: 100vh;
}
.banner-text-section {
	position: absolute;
	top: 0;
	padding-top:130px;
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: 100vh; 
	overflow: auto;
}
.slider-main-box {
	position: relative;
	width: 100%;
	float: left;
	height: 100vh;
}
.slider-main-box::before {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.banner-text-inner {
    margin-top: -4px;
}
.banner-text-inner h1 {
	font-size: 32px;
	line-height: 32px;
	font-weight: 600;
	margin-bottom: 30px;
	color:#fff;
}
.banner-text-inner p {
	color: #fff;
	font-size: 18px;
	line-height: 28px;
	font-weight: normal;
}
.banner-text-section {
	z-index: 99;
}
.banner-text-inner p .fa.fa-thumbs-o-up {
	font-size: 25px;
}
.banner-text-inner h2 {
	color: #fff;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 16px;
	font-weight: 500;
}
.google_link {
    margin: 30px 0;
}
.google_link a {
    display: inline-block;
    max-width: 210px;
    margin-right: 20px;
}
.login-section {
	width: 100%;
	padding: 12px;
	float: left;
	background: #fff;
}
.login-section h4, .sign-section h4 {
	color: #66757f;
	font-size: 16px;
	margin-bottom: 12px;
}
.login-section input[type="text"], .sign-section input[type="text"], .login-section  input[type="password"], .sign-section input[type="password"], .sign-section input[type="email"] {
	width: 100%;
	margin-bottom: 10px;
	color: #555;
	background: #fff;
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #ccd6dd;
	float: left;
	font-weight: normal;
}
.login-section .form-box input[type="submit"]{
	background: #5a656b;
	padding: 8px 7px;
	width: 100%;
	border-radius: 4px;
	border: none;
	font-size: 14px;
	line-height: 20px;
	color:#fff;
}
.login-section .form-box input[type="submit"]:hover{
	background: #000;
}
.check-box {
	margin: 15px 0 5px 0;
	color: #5a656b;
	font-size: 14px;
	line-height: 14px;
}
.check-box input[type="checkbox"] {
	margin-top: 0px;
	vertical-align: middle;
}
.check-box a {
	color: #5a656b;
	font-size: 14px;
	line-height: 14px;
	vertical-align: middle;
}
.check-box a:hover {
	color: #000;
}
.check-box label {
	vertical-align: middle;
}
.sign-section {
	width: 100%;
	padding: 12px;
	float: left;
	background: #fff;
	margin-top: 10px;
}
.sign-section input[type="submit"] {
	background: #4cb64c;
	padding: 8px 7px;
	width: 100%;
	border-radius: 4px;
	border: none;
	font-size: 14px;
	line-height: 20px;
	color:#fff;
}
.header-right .navbar-container .text-link{ margin:11px 0;}
.login_footer{ color:#fff;}
.sign-section .form-box input[type="submit"]:hover {
	background: #5cb85c;
}
.banner-section .bx-controls.bx-has-controls-direction.bx-has-pager {
	display: none;
}
.logo {
	float: left;
	font-size: 11px;
	font-weight: 600;
	line-height: 46px;
	color: #5a656b;
	padding: 0 10px;
	margin-right: 20px;
	margin-bottom: 8px;
}
.overlay {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9;
	background: rgba(0,0,0,0.2);
	height: 100%;
	width: 100%;
}
.full-name { margin-right:5px;}
.full-name{ width:49%; float:left;}
.user-name { width:49%; float:right;}

.form-box iframe, .form-box  .g-recaptcha, .form-box  .g-recaptcha div , .form-box  .rc-anchor-normal { width:auto !important; box-sizing:border-box;}

.form-box .col-sm-12 { margin-bottom:8px !important; padding:0px;}
.sign-section p {
    color: #5a656b;
    font-size: 14px;
    margin-top: 10px;
}
.sign-section p a {
    color: #000;
}	
.google_link.mobile_google_link { display:none;}

.custom-post-actions span.text-clickable.js_unlike-post.text-active .Icon--heartBadge {
        color: #ed4956;
}



/*------------------------------------*\
    Media Queries
\*------------------------------------*/
@media (min-width:768px) {
.container {
	width: 100%;
}
}
@media (min-width:992px) {
.container {
	width: 100%;
	max-width: 1190px;
}
}
 @media (min-width:768px) and (max-width:990px) {
.banner-text-inner h1 {
	font-size: 23px;
}
.banner-text-inner h2 {
	font-size: 21px;
}
.banner-text-inner p br {
	display: none;
}
.full-name, .user-name { width:48%; }
.check-box, .check-box a {font-size: 12px;}

.form-box iframe, .form-box  .g-recaptcha, .form-box  .g-recaptcha div , .form-box  .rc-anchor-normal { width:auto !important;  box-sizing:border-box;}
.banner-text-section .col-sm-4  { width:33.33%;}	
.login_footer .footer{ display:none;}


}
 @media (max-width: 767px) {
.left-section li a {
	font-size: 11px;
	color: #5a656b;
	padding: 0 3px;
}
.right-section ul > li > a, .left-section ul > li > a, .js-current-language {
	font-size: 11px;
}

.Icon--large {
    font-size: 30px;
    }
    .broadcasts_icon {   
    margin-top: 0px;
   }
.right-section .text-link {
    font-size: 14px;
    margin-top: -9px;
    display: inline-block;
}
.left-section {
	width: 165px;
}
.banner-text-inner h1 {
	font-size: 19px;
	line-height: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}
.banner-text-inner p {
	color: #fff;
	font-size: 14px;
	line-height: 19px;
}
.sign-section {
	margin-bottom: 20px;
}
.banner-text-inner h2 {
	font-size: 18px;
}
.full-name, .user-name { float:left; width:100%; margin-right:0px;}
.user-name { margin-top:0px !important;}





.form-box iframe, .form-box  .g-recaptcha, .form-box  .g-recaptcha div , .form-box  .rc-anchor-normal { width:auto !important; float: left;  box-sizing:border-box; margin-bottom:7px;}
.form-box iframe, .form-box  .g-recaptcha { margin-bottom:0px;}
.left-section li{ border:none;}
.login_footer, .left-section ul{ display:none;}
.twitter-header.twitter_header_mobile {
    border-bottom: 1px solid #ccc;
}
/*.sign-section input[type="submit"], .login-section .form-box input[type="submit"] {
	background: #5a656b; border-radius: 21px;
}
.sign-section .form-box input[type="submit"]:hover {
	background: #000;
}
*/
.signup-block .left-section li a:hover {
    border-bottom: 2px solid transparent;
    min-width: 30px;
}

.google_link a {
    display: inline-block;
    max-width: 45%;
    margin: 0 5px;
}
.google_link { display:none;}
.google_link.mobile_google_link { display:block; margin:30px 0;}
.banner-section .main-slider img {
    width: 100%;
    object-fit: cover;
}
.right-section{ margin-top: 10px !important;}
.right-section .text-link{ font-size:18px;}
.twitter-header{ padding-top:4px;}
.logo{ padding:0;}

}
 @media (max-width: 480px) {
  .right-section{ margin-top: 2px !important;}
 }
 @media (min-width: 320px) and (max-width:360px) { .form-box iframe, .form-box  .g-recaptcha, .form-box  .g-recaptcha div , .form-box  .rc-anchor-normal  { width:100% !important;}
 
{/strip}