.do-broadcast-error {
  margin-bottom:10px;
  color:red;
}
.do-broadcast label {
  display: block;
  margin-bottom: 10px;
}
.do-broadcast input {
  width: 100%;
  margin-bottom: 14px;
  height: 40px;
  padding: 0 15px;
}
.do-broadcast-submit {
  background-color: #5a656b;
  color: #fff;
  border: none;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
}
