<div class="{if $_small}col-xs-6 col-sm-4{else}col-xs-6 col-sm-2{/if}">
    <a class="pg_photo {if !$_small}large{/if} js_lightbox" href="/photos/{$photo['photo_id']}" data-id="{$photo['photo_id']}" data-image="" data-context="{$_context}" style="background-image:url({$system['system_uploads']}/{photo_thumb param1=$photo['source']});">
    	{if $_manage || $photo['manage']}
	    	<div class="pg_photo-btn">
	            <button type="button" class="close js_delete-photo" data-id="{$photo['photo_id']}" data-toggle="tooltip" data-placement="top" title='{__("Delete")}'>
	                <span aria-hidden="true">&times;</span>
	            </button>
	        </div>
        {/if}
    </a>
</div>