<div class="{if $_small}col-xs-6 col-sm-4{else}col-xs-6 col-sm-2{/if}">
    <a href="/videos/{$photo['video_id']}" data-id="{$video['video_id']}" data-image="{$system['system_uploads']}/{$video['source']}" data-context="{$_context}" style="background-image:url({$system['system_uploads']}/{$video['source']});">
    
    	<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/-L8DFfSJbqU&hl=en_US&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/-L8DFfSJbqU&hl=en_US&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="100" height="100"></embed></object>
    
    </a>
</div>