<div class="site_bar_new">
<div class="sidebar_custom_trands">
<a href="/{$user->_data['user_name']}{if $_search}?ref=qs{/if}"><div class="profile-bg-thumb">

{if $user->_data.user_cover}<img src="{$system['system_uploads']}/{$user->_data.user_cover}">{/if}

</div></a>

<div class="side_profile">

{if $user->_data.user_picture}<div class="pro_thumb"><a href="/{$user->_data['user_name']}{if $_search}?ref=qs{/if}"><img src="{$user->_data.user_picture}"></a></div>{/if}



<div class="admin_detail">

<h3><a href="/{$user->_data['user_name']}{if $_search}?ref=qs{/if}">{$user->_data['user_firstname']} {$user->_data['user_lastname']}</a></h3>

<span><a href="/{$user->_data['user_name']}{if $_search}?ref=qs{/if}">@{$user->_data['user_name']}</a></span>

</div>

<ul>

<li><a href="/{$user->_data['user_name']}">{__("Posts")}<span>{if $user->_data.posts_count}{$user->_data.posts_count}{else}0{/if}</span></a></li>

<li><a href="/followings.php?username={$user->_data['user_name']}">{__("Following")}<span>{if $user->_data.followings_count}{$user->_data.followings_count}{else}0{/if}</span></a></li>

<li><a href="/followers.php?username={$user->_data['user_name']}">{__("Followers")}<span>{if $user->_data.followers_count}{$user->_data.followers_count}{else}0{/if}</span></a></li>

<!--<li><a href="/{$user->_data['user_name']}">{__("Broadcasts")}<span>{if $user->_data.broadcast_count}{$user->_data.broadcast_count}{else}0{/if}</span></a></li>-->

</ul>

</div>
</div>


<!-- Disable weekily trends -->
<!--<div class="sidebar_trends">

<h3 title="{__("Weekly Trends for you")}">{__("Weekly Trends for you")}</h3>



{if $user->_data.popular_tag != 'No Record Found'}

{foreach $user->_data.popular_tag as $custom_field}

<div class="fb_post_rep">

<h4><a href="/trend_post.php?tags={$custom_field['url_tags']}">{$custom_field['tags']}</a></h4>

<p>{$custom_field['count']} {__("Posts")}</p>

</div>

{/foreach}

{else}

<h4>{__("No Trends for you.")}</h4>

{/if}



</div>-->



</div>