<div class="panel panel-default">
    <div class="panel-heading with-icon">
        {if $sub_view == ""}
            <div class="pull-right flip">
                <a href="/admincp/ads/add" class="btn btn-primary">
                    <i class="fa fa-plus"></i> {__("Add New Ads")}
                </a>
            </div>
        {/if}
        <i class="fa fa-usd pr5 panel-icon"></i>
        <strong>{__("Ads")}</strong>
        {if $sub_view == "edit"} &rsaquo; <strong>{$data['title']}</strong>{/if}
        {if $sub_view == "add"} &rsaquo; <strong>{__("Add New")}</strong>{/if}
    </div>
    {if $sub_view == ""}
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover js_dataTable">
                    <thead>
                        <tr>
                            <th>{__("ID")}</th>
                            <th>{__("Title")}</th>
                            <th>{__("Place")}</th>
                            <th>{__("Date")}</th>
                            <th>{__("Actions")}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $rows as $row}
                        <tr>
                            <td>{$row['ads_id']}</td>
                            <td>{$row['title']}</td>
                            <td>
                                {if $row['place'] == "home"}<i class='fa fa-home fa-fw mr5'></i>{__("Home  Page")}{/if}
                                {if $row['place'] == "search"}<i class='fa fa-search fa-fw mr5'></i>{__("Search  Page")}{/if}
                                {if $row['place'] == "people"}<i class='fa fa-users fa-fw mr5'></i>{__("Discover People  Page")}{/if}
                                {if $row['place'] == "notifications"}<i class='fa fa-bell fa-fw mr5'></i>{__("Notifications  Page")}{/if}
                                {if $row['place'] == "post"}<i class='fa fa-file-powerpoint-o fa-fw mr5'></i>{__("Post  Page")}{/if}
                                {if $row['place'] == "photo"}<i class='fa fa-picture-o fa-fw mr5'></i>{__("Photo  Page")}{/if}
                                {if $row['place'] == "directory"}<i class='fa fa-th-list fa-fw mr5'></i>{__("Directory  Page")}{/if}
                                {if $row['place'] == "market"}<i class='fa fa-shopping-bag fa-fw mr5'></i>{__("Market  Page")}{/if}
                                {if $row['place'] == "newfeed_1"}<i class='fa fa-newspaper-o fa-fw mr5'></i>{__("Posts Feed")} 1{/if}
                                {if $row['place'] == "newfeed_2"}<i class='fa fa-newspaper-o fa-fw mr5'></i>{__("Posts Feed")} 2{/if}
                                {if $row['place'] == "newfeed_3"}<i class='fa fa-newspaper-o fa-fw mr5'></i>{__("Posts Feed")} 3{/if}
                                {if $row['place'] == "header"}<i class='fa fa-chevron-circle-up fa-fw mr5'></i>{__("Header")}{/if}
                                {if $row['place'] == "footer"}<i class='fa fa-chevron-circle-down fa-fw mr5'></i>{__("Footer")}{/if}
                            </td>
                            <td>{$row['time']|date_format:"%e %B %Y"}</td>
                            <td>
                                <button data-toggle="tooltip" data-placement="top" title='{__("Delete")}' class="btn btn-xs btn-danger js_admin-deleter" data-handle="ads" data-id="{$row['ads_id']}">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                                <a data-toggle="tooltip" data-placement="top" title='{__("Edit")}' href="/admincp/ads/edit/{$row['ads_id']}" class="btn btn-xs btn-primary">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    {elseif $sub_view == "edit"}
        <div class="panel-body">
            <form class="js_ajax-forms form-horizontal" data-url="admin/ads.php?do=edit&id={$data['ads_id']}">
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">
                        {__("Title")}
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control" name="title" value="{$data['title']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">
                        {__("Place")}
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control selectpicker" name="place">
                            <option {if $data['place'] == "home"}selected{/if} value="home" data-content="<div class='option'><div class='icon'><i class='fa fa-home fa-fw fa-lg'></i></div><div class='text'><b>{__('Home')}</b><br>{__('Appears on the right panel of home page')}.
                            </div></div>">{__("Home")}</option>

                            <option {if $data['place'] == "search"}selected{/if} value="search" data-content="<div class='option'><div class='icon'><i class='fa fa-search fa-fw fa-lg'></i></div><div class='text'><b>{__('Search')}</b><br>{__('Appears on the right panel of search page')}.
                            </div></div>">{__("Search")}</option>

                            <option {if $data['place'] == "people"}selected{/if} value="people" data-content="<div class='option'><div class='icon'><i class='fa fa-users fa-fw fa-lg'></i></div><div class='text'><b>{__('Discover People')}</b><br>{__('Appears on the right panel of discover people page')}.
                            </div></div>">{__("Discover People")}</option>

                            <option {if $data['place'] == "notifications"}selected{/if} value="notifications" data-content="<div class='option'><div class='icon'><i class='fa fa-bell fa-fw fa-lg'></i></div><div class='text'><b>{__('Notifications')}</b><br>{__('Appears on the right panel of notifications page')}.
                            </div></div>">{__("Notifications")}</option>

                            <option {if $data['place'] == "post"}selected{/if} value="post" data-content="<div class='option'><div class='icon'><i class='fa fa-file-powerpoint-o fa-fw fa-lg'></i></div><div class='text'><b>{__('Post')}</b><br>{__('Appears on the right panel of post page')}.
                            </div></div>">{__("Post")}</option>

                            <option {if $data['place'] == "photo"}selected{/if} value="photo" data-content="<div class='option'><div class='icon'><i class='fa fa-picture-o fa-fw fa-lg'></i></div><div class='text'><b>{__('Photo')}</b><br>{__('Appears on the right panel of photo page')}.
                            </div></div>">{__("Photo")}</option>

                            <option {if $data['place'] == "directory"}selected{/if} value="directory" data-content="<div class='option'><div class='icon'><i class='fa fa-th-list fa-fw fa-lg'></i></div><div class='text'><b>{__('Directory')}</b><br>{__('Appears on the right panel of directory')}.
                            </div></div>">{__("Directory")}</option>

                            <option {if $data['place'] == "market"}selected{/if} value="market" data-content="<div class='option'><div class='icon'><i class='fa fa-shopping-bag fa-fw fa-lg'></i></div><div class='text'><b>{__('Market')}</b><br>{__('Appears on the top of products list')}.
                            </div></div>">{__("Market")}</option>

                            <option {if $data['place'] == "newfeed_1"}selected{/if} value="newfeed_1" data-content="<div class='option'><div class='icon'><i class='fa fa-newspaper-o fa-fw fa-lg'></i></div><div class='text'><b>{__('Posts Feed')} 1</b><br>{__('Appears after')} {$system['max_results']} {__('posts are loaded, between the posts')}.
                            </div></div>">{__("Posts Feed")} 1</option>

                            <option {if $data['place'] == "newfeed_2"}selected{/if} value="newfeed_2" data-content="<div class='option'><div class='icon'><i class='fa fa-newspaper-o fa-fw fa-lg'></i></div><div class='text'><b>{__('Posts Feed')} 2</b><br>{__('Appears after')} {$system['max_results']*2} {__('posts are loaded, between the posts')}.
                            </div></div>">{__("Posts Feed")} 2</option>

                            <option {if $data['place'] == "newfeed_3"}selected{/if} value="newfeed_3" data-content="<div class='option'><div class='icon'><i class='fa fa-newspaper-o fa-fw fa-lg'></i></div><div class='text'><b>{__('Posts Feed')} 3</b><br>{__('Appears after')} {$system['max_results']*3} {__('posts are loaded, between the posts')}.
                            </div></div>">{__("Posts Feed")} 3</option>

                            <option {if $data['place'] == "header"}selected{/if} value="header" data-content="<div class='option'><div class='icon'><i class='fa fa-chevron-circle-up fa-fw fa-lg'></i></div><div class='text'><b>{__('Header')}</b><br>{__('Appears on all pages right after the header')}.
                            </div></div>">{__("Header")}</option>

                            <option {if $data['place'] == "footer"}selected{/if} value="footer" data-content="<div class='option'><div class='icon'><i class='fa fa-chevron-circle-down fa-fw fa-lg'></i></div><div class='text'><b>{__('Footer')}</b><br>{__('Appears on all pages right before the footer')}.
                            </div></div>">{__("Footer")}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">
                        {__("HTML")}
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="message" rows="8">{$data['code']}</textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary">{__("Save Changes")}</button>
                    </div>
                </div>

                <!-- success -->
                <div class="alert alert-success mb0 mt10 x-hidden" role="alert"></div>
                <!-- success -->

                <!-- error -->
                <div class="alert alert-danger mb0 mt10 x-hidden" role="alert"></div>
                <!-- error -->
            </form>
        </div>
    {elseif $sub_view == "add"}
        <div class="panel-body">
            <form class="js_ajax-forms form-horizontal" data-url="admin/ads.php?do=add">
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">
                        {__("Title")}
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control" name="title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">
                        {__("Place")}
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control selectpicker" name="place">
                            <option value="home" data-content="<div class='option'><div class='icon'><i class='fa fa-home fa-fw fa-lg'></i></div><div class='text'><b>{__('Home')}</b><br>{__('Appears on the right panel of home page')}.
                            </div></div>">{__("Home")}</option>

                            <option value="search" data-content="<div class='option'><div class='icon'><i class='fa fa-search fa-fw fa-lg'></i></div><div class='text'><b>{__('Search')}</b><br>{__('Appears on the right panel of search page')}.
                            </div></div>">{__("Search")}</option>

                            <option value="people" data-content="<div class='option'><div class='icon'><i class='fa fa-users fa-fw fa-lg'></i></div><div class='text'><b>{__('Discover People')}</b><br>{__('Appears on the right panel of discover people page')}.
                            </div></div>">{__("Discover People")}</option>

                            <option value="notifications" data-content="<div class='option'><div class='icon'><i class='fa fa-bell fa-fw fa-lg'></i></div><div class='text'><b>{__('Notifications')}</b><br>{__('Appears on the right panel of notifications page')}.
                            </div></div>">{__("Notifications")}</option>

                            <option value="post" data-content="<div class='option'><div class='icon'><i class='fa fa-file-powerpoint-o fa-fw fa-lg'></i></div><div class='text'><b>{__('Post')}</b><br>{__('Appears on the right panel of post page')}.
                            </div></div>">{__("Post")}</option>

                            <option value="photo" data-content="<div class='option'><div class='icon'><i class='fa fa-picture-o fa-fw fa-lg'></i></div><div class='text'><b>{__('Photo')}</b><br>{__('Appears on the right panel of photo page')}.
                            </div></div>">{__("Photo")}</option>

                            <option value="directory" data-content="<div class='option'><div class='icon'><i class='fa fa-th-list fa-fw fa-lg'></i></div><div class='text'><b>{__('Directory')}</b><br>{__('Appears on the right panel of directory')}.
                            </div></div>">{__("Directory")}</option>

                            <option value="market" data-content="<div class='option'><div class='icon'><i class='fa fa-shopping-bag fa-fw fa-lg'></i></div><div class='text'><b>{__('Market')}</b><br>{__('Appears on the top of products list')}.
                            </div></div>">{__("Market")}</option>

                            <option value="newfeed_1" data-content="<div class='option'><div class='icon'><i class='fa fa-newspaper-o fa-fw fa-lg'></i></div><div class='text'><b>{__('Posts Feed')} 1</b><br>{__('Appears after')} {$system['max_results']} {__('posts are loaded, between the posts')}.
                            </div></div>">{__("Posts Feed")} 1</option>

                            <option value="newfeed_2" data-content="<div class='option'><div class='icon'><i class='fa fa-newspaper-o fa-fw fa-lg'></i></div><div class='text'><b>{__('Posts Feed')} 2</b><br>{__('Appears after')} {$system['max_results']*2} {__('posts are loaded, between the posts')}.
                            </div></div>">{__("Posts Feed")} 2</option>

                            <option value="newfeed_3" data-content="<div class='option'><div class='icon'><i class='fa fa-newspaper-o fa-fw fa-lg'></i></div><div class='text'><b>{__('Posts Feed')} 3</b><br>{__('Appears after')} {$system['max_results']*3} {__('posts are loaded, between the posts')}.
                            </div></div>">{__("Posts Feed")} 3</option>

                            <option value="header" data-content="<div class='option'><div class='icon'><i class='fa fa-chevron-circle-up fa-fw fa-lg'></i></div><div class='text'><b>{__('Header')}</b><br>{__('Appears on all pages right after the header')}.
                            </div></div>">{__("Header")}</option>

                            <option value="footer" data-content="<div class='option'><div class='icon'><i class='fa fa-chevron-circle-down fa-fw fa-lg'></i></div><div class='text'><b>{__('Footer')}</b><br>{__('Appears on all pages right before the footer')}.
                            </div></div>">{__("Footer")}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">
                        {__("HTML")}
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="message" rows="8"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary">{__("Save Changes")}</button>
                    </div>
                </div>

                <!-- success -->
                <div class="alert alert-success mb0 mt10 x-hidden" role="alert"></div>
                <!-- success -->

                <!-- error -->
                <div class="alert alert-danger mb0 mt10 x-hidden" role="alert"></div>
                <!-- error -->
            </form>
        </div>
    {/if}
</div>