@font-face {
    font-family: 'LiGothicMed';
    src: url('../fonts/LiGothicMed.eot') format('embedded-opentype'),
        url('../fonts/LiGothicMed.ttf') format('embedded-opentype'),
        url('../fonts/LiGothicMed.woff') format('embedded-opentype'),
        url('../fonts/LiGothicMed.svg') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

input, button, textarea {
    outline: none;
}

.left-nav::-webkit-scrollbar {
    width: 8px;
}

.left-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.left-nav::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(63, 47, 91, 0.65);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
a.left-nav-channel-title.title-messaging {
    margin-top: 0 !important;
}
.left-nav::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(63, 47, 91, 0.65);
}
.main-header .nav>li>a{
    height: 50px !important;
}
.init-check {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.sample-body {
    min-width: 960px;
    overflow-x: auto;
}

.left-nav {
    width: 220px;
    height: 100vh;
    background: #4e4273;
    padding: 20px 0 0 0;
    border-right: 1px solid #3b1973;
    float: left;
}

.left-nav-icon {
    /*width: 142px;*/
    height: 50px;
    background: url("../img/logo_SendBird_reversed.svg") no-repeat center center;
    background-size: 160px;
    background-position: 25%;

    margin-left: 14px;
}

.left-nav-channel-select {
    padding: 20px 14px 0 14px;
}

.left-nav-button-guide {
    width: 36px;
    height: 36px;
    background: url("../img/image-outerglow.svg") no-repeat center center transparent;
    float: right;
    margin-right: 7px;
}

.left-nav-button {
    width: 192px;
    height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 0 0 14px;
    /* font-family: 'Exo 2';*/
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    line-height: 36px;
    border: 0;
    text-align: left;
}

.left-nav-open {
    background: url("../img/btn-openchat-normal.svg") no-repeat 160px center #329fe6;
}
.left-nav-open:hover,
.left-nav-open:focus {
    background: url("../img/btn-openchat-normal.svg") no-repeat 160px center #0e6bc4;
}

.left-nav-open--active,
.left-nav-open--active:hover,
.left-nav-open--active:focus {
    width: 212px;
    background: url("../img/btn-openchat-close.svg") no-repeat 160px center #0e6bc4;
}

.left-nav-messaging {
    margin-top: 12px;
    background: url("../img/btn-1on1groupchat-normal.svg") no-repeat 160px center #32c5e6;
}
.left-nav-messaging:hover,
.left-nav-messaging:focus {
    background: url("../img/btn-1on1groupchat-normal.svg") no-repeat 160px center #0f9ab8;
}

.left-nav-messaging--active,
.left-nav-messaging--active:hover,
.left-nav-messaging--active:focus {
    width: 212px;
    background: url("../img/btn-openchat-close.svg") no-repeat 160px center #0f9ab8;
}

.left-nav-channel-section {
    height: calc(100% - 240px);
    margin-top: 18px;
    overflow-y: auto;
}

.left-nav-channel-empty {
    width: 192px;
    height: 72px;
    padding: 18px 0 0 14px;
    margin-left: 14px;
    border: 1px dashed #7f6da0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* font-family: 'Lato';*/
    font-weight: 500;
    font-size: 14px;
    color: #7f6da0;
    line-height: 18px;
    text-align: left;
}

.left-nav-channel-title {
    width: 100%;
    height: 30px;
    /* font-family: 'Lato';*/
    font-weight: 500;
    font-size: 11px;
    color: #7f6da0;
    line-height: 30px;
    padding: 0 14px;
}
.title-messaging {
    margin-top: 18px;
}

.left-nav-channel {
    width: 100%;
    /*  font-family: 'Lato';*/
    font-weight: normal;
    font-size: 16px;
    color: #818181 !important;
    padding: 0 0 0 44px;
    cursor: pointer;
}

.left-nav-channel-open {
    background: url("../img/icon-menu-channel-off.svg") no-repeat 14px center transparent;
    margin-bottom: 4px;
}
.left-nav-channel-open:hover {
    background: url("../img/icon-menu-channel-off.svg") no-repeat 14px center #463c66;
}

.left-nav-channel-open--active {
    background: url("../img/icon-menu-channel-on.svg") no-repeat 14px center #362f4f;
    color: #fff;
}
.left-nav-channel-open--active:hover {
    background: url("../img/icon-menu-channel-on.svg") no-repeat 14px center #3f2f5b;
    color: #fff;
}

.left-nav-channel-open--active:hover > .left-nav-channel-leave,
.left-nav-channel-messaging--active:hover > .left-nav-channel-leave,
.left-nav-channel-group--active:hover > .left-nav-channel-leave {
    display: block;
}
.left-nav-channel-leave {
    display: none;
    width: 17px;
    height: 30px;
    float: right;
    margin-right: 20px;
    background: url("../img/btn-leave-menu-over.svg") no-repeat center center transparent;
}
.left-nav-channel-leave--active {
    display: block;
    background: url("../img/btn-leave-menu-click.svg") no-repeat center center transparent;
}

.left-nav-channel-messaging {
    background: url("../img/icon-menu-chat-off.svg") no-repeat 14px center transparent;
}
.left-nav-channel-messaging:hover {
    background: url("../img/icon-menu-chat-off.svg") no-repeat 14px center #463c66;
}

.left-nav-channel-messaging--active {
    background: url("../img/icon-menu-chat-on.svg") no-repeat 14px center #362f4f;
    color: #fff;
}

.left-nav-channel-group {
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: left top;
    background-color: transparent;
    background-image: url("../img/icon-menu-group-off.svg");
    background-position-x: 10px;
    background-position-y: 5px;
    margin-bottom: 14px;
    min-height: 35px;
    border-bottom: 1px solid #eee !important;
}
.left-nav-channel-group:hover {
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: #f6f7f8 !important;
    background-position-x: 10px;
}

.left-nav-channel-group--active {
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: #362f4f;
    background-position-x: 10px;
    color: #fff;
}

.left-nav-channel__unread {
    width: 20px;
    height: 16px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #f5429c;
    /*font-family: 'Lato';*/
    font-weight: 400;
    font-size: 11px;
    color: #fff;
    line-height: 16px;
    float: right;
    text-align: center;
    margin: 7px 20px 0 0;
}

.left-nav-user {
    width: 220px;
    height: 72px;
    position: absolute;
    bottom: 0;
    background: #463c66;
    /* font-family: 'Lato';*/
}

.left-nav-user-icon {
    width: 30px;
    height: 72px;
    position: relative;
    background: url("../img/image-profile.svg") no-repeat center center;
    margin-left: 20px;
    float: left;
}

.left-nav-user-title {
    width: auto;
    height: auto;
    position: relative;
    font-weight: 500;
    color: #7f6da0;
}

.left-nav-user-nickname {
    width: auto;
    height: auto;
    position: relative;
    font-weight: 600;
    color: #a08dce;
}

.left-nav-login-user {
    width: auto;
    height: auto;
    position: relative;
    float: left;
    margin-top: 14px;
    margin-left: 12px;
}


/*.ight-section {
  width: calc(100% - 220px);
  height: 100vh;
  float: left;
}*/
.right-section {
    /* width: calc(100% - 220px); */
    height: 400px;
    /* float: left; */
    width: 100%;
    position: absolute;
    left: 0;
    top: 110px;
     -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75) !important;
}


.right-section__modal-bg {
    display: none;
    width: calc(100% - 220px);
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
}

.chat-top {
    width: 100%;
    height: 72px;
    background: #fff;
    border-bottom: 1px solid rgba(171, 184, 196, 0.5);
    padding: 21px 20px 0 20px;
}

.chat-top__title {
    display: none;
    padding-left: 20px;
    background: url("../img/icon-openchat-title.svg") no-repeat left center;
    /*font-family: 'Lato';*/
    font-weight: 500;
    font-size: 18px;
    color: #4f398f;
    line-height: 30px;
    float: left;
}
.chat-top__title--messaging {
    background: url("../img/icon-1on1chat-title.svg") no-repeat left center;
}
.chat-top__title--group {
    background: url("../img/icon-groupchat-title.svg") no-repeat left center;
}

.chat-top-button {
    display: none;
    float: right;
    height: 30px;
}

.chat-top__button {
    width: 30px;
    height: 30px;
    padding: 4px;
    border: 1px solid #8f9fae;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    float: left;
}
.chat-top__button:hover {

}

.chat-top__button-hide {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-right: 0;

    display: none;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    background: url("../img/btn-hide-normal.svg") no-repeat center center #f7f8fc;
}
.chat-top__button-hide:hover {
    background: url("../img/btn-hide-over.svg") no-repeat center center #f7f8fc;
}

.chat-top__button-leave {
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    background: url("../img/btn-leave-normal.svg") no-repeat center center #f7f8fc;
}
.chat-top__button-leave:hover {
    background: url("../img/btn-leave-over.svg") no-repeat center center #f7f8fc;
}
.chat-top__button-leave--active {
    background: url("../img/btn-leave-over.svg") no-repeat center center #e8eaef;
}

.chat-top__button-member {
    background: url("../img/btn-memberlist-normal.svg") no-repeat center center #f7f8fc;
}
.chat-top__button-member__right {
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}
.chat-top__button-member__all {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
}
.chat-top__button-member:hover {
    background: url("../img/btn-memberlist-over.svg") no-repeat center center #f7f8fc;
}
.chat-top__button-member--active {
    background: url("../img/btn-memberlist-over.svg") no-repeat center center #e8eaef
}

.chat-top__button-invite {
    display: none;
    width: 78px;
    height: 30px;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    /* font-family: 'Exo 2';*/
    font-weight: 400;
    font-size: 12px;
    color: #8f9fae;
    line-height: 28px;
    background: url("../img/btn-invite-normal.svg") no-repeat 8px center #f7f8fc;
    padding: 0 0 0 26px;
}
.chat-top__button-invite:hover {
    background: url("../img/btn-invite-over.svg") no-repeat 8px center #f7f8fc;
}
.chat-top__button-invite--active,
.chat-top__button-invite--active:hover {
    color: #747f8d;
    background: url("../img/btn-invite-normal.svg") no-repeat 8px #e8eaef;
}

.chat-empty {
    width: 100%;
    height: calc(100% - 72px);
    background: #f7f8fc;
    padding: 190px 0;
    /*  font-family: 'Exo 2';*/
    font-weight: 400;
    text-align: center;
    color: #abb8c4;
}
.chat-empty__tile {
    height: auto;
    padding: 0;
    font-size: 24px;
}
.chat-empty__icon {
    width: 100%;
    height: 66px;
    padding: 0;
    background: url("../img/img-empty.svg") no-repeat center center transparent;
    margin: 20px 0;
}
.chat-empty__desc {
    height: auto;
    padding: 0;
    font-size: 14px;
}

.chat {
    display: none;
    width: 100%;
    height: calc(100% - 72px);
    background: #fff;
}

.chat-canvas {
    width: 100%;
    height: calc(100% - 71px);
    background: #f7f8fc;
    border-bottom: 1px solid rgba(171, 184, 196, 0.5);
    overflow-y: auto;
    padding: 28px 0 0 0;
}

.chat-canvas__list {
    width: 100%;
    min-height: 24px;
    background: transparent;
    /*font-family: 'Lato';*/
    font-weight: 400;
    font-size: 16px;
    color: #60768b;
    padding: 0 20px;
}
.chat-canvas__list:hover {
    background-color: #efefef;
}

/*label.chat-canvas__list-name:hover {*/
  /*cursor: pointer;*/
/*}*/
/*label.chat-canvas__list-text:hover {*/
  /*cursor: pointer;*/
/*}*/

.chat-canvas__list-notice {
    width: 100%;
    height: 32px;
    min-height: 24px;
    background: transparent;
    /*font-family: 'Lato'*/;
    font-weight: 400;
    font-size: 16px;
    color: #60768b;
    line-height: 24px;
}

.chat-canvas__list-system {
    width: 100%;
    height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #60768b;
    background: #e8ecef;
    padding: 0 20px;
    margin: 6px 0;
}

.chat-canvas__list-broadcast {
    width: 100%;
    font-weight: 400;
    font-style: normal;
    color: #333e4a;
    background: #d7eef7;
    padding: 0 20px;
    margin: 6px 0;
}

.chat-canvas__list-name {
    cursor: pointer;
    font-weight: 600;
    color: #333e4a;
    vertical-align: top;
}
.chat-canvas__list-name__user {
    color: #4f398f;
}
.chat-canvas__list-separator {
    padding: 0 6px;
    color: #60768b;
    vertical-align: top;
    font-weight: 400;
}
.chat-canvas__list-text {
    cursor: pointer;
    max-width: calc(100% - 220px);
    color: #2a78c2;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    color: #60768b;
}
.chat-canvas__list-readreceipt {
    font-size: 10px;
    color: white;
    display: none;
    background-color: #75daeb;
    border-radius: 10px;
    /*border: 5px;*/
    width: 14px;
    height: 14px;
    line-height: 130%;
    vertical-align: middle;
    text-align: center;
    margin: 0 0 0 5px;
}
.chat-canvas__list-text-file {
    width: 44px;
    margin-right: 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #e2eff7;
    /* font-family: 'Exo 2';*/
    font-weight: 400;
    font-size: 12px;
    color: #2a78c2;
    text-align: center;
}
a.hover,
a:hover,
a.hover:hover {
    color: #2a78c2;
    text-decoration: underline;
}
.chat-canvas__list-file {
    border-left: 4px solid #abb8c4;
    padding-left: 10px;
    cursor: pointer;
    margin: 6px 0 10px 0;
}
.chat-canvas__list-file-img {
    max-width: 400px;
    max-height: 300px;
}

.chat-input {
    width: 100%;
    height: 51px;
    padding: 8px 20px 4px 20px;
    background: #fff;
    margin-top: 8px;
}
.sendbird-chat-cls-shared .js_posts_stream li {
    position: relative !important;
    display: block !important;
    height: 40px;
}
.sendbird-chat-cls-shared .sample-body{
    min-width: auto;
}
.sendbird-chat-cls-shared .left-nav-channel-select span {
    color: #000;
}
.sendbird-chat-cls-shared .left-nav-icon {
    display: none;
}
.sendbird-chat-cls-shared .left-nav-channel-select {
    padding: 5px 0px 5px 20px !important;
}
.sendbird-chat-cls-shared a.shared_messaging_chat{
    text-decoration: none;
}
.chat-input-file {
    width: 40px;
    height: 40px;
    float: left;
    padding: 10px;
    margin-bottom: 3px;
    border: 1px solid #abb8c4;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background: url("../img/btn-upload.svg") no-repeat center center;
    cursor: pointer;
}
.close_btn {
    background: #fff;
    text-align: right;
}
.close_btn span {
    padding: 14px !important;
    cursor: pointer;
}
.chat-input-file:hover {
    background: url("../img/btn-upload.svg") no-repeat center center #f7f8fc;
}

.file-upload {
    background: url("../img/loading-rectagular.gif") no-repeat center center #f7f8fc;
}
label.chat-input-file.file-upload {
    background: url("../img/loading-rectagular.gif") no-repeat center center #f7f8fc;
}

.chat-input-text {
    width: calc(100% - 40px);
    height: 40px;
    float: left;
}

.chat-input-typing {
    display: none;
    /* font-family: 'Lato';*/
    font-weight: 400;
    font-style: italic;
    font-size: 11px;
    color: #60768b;
    margin: 0;
    padding: 0 20px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-weight: 300;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-weight: 300;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-weight: 300;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-weight: 300;
}
.chat-input-text__field {
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    /* font-family: 'Lato';*/
    font-weight: 400;
    font-size: 14px;
    color: #8f9fae;
    overflow-y: auto;
    resize: none;
    padding: 10px 20px 0 20px;
    border: 1px solid #abb8c4;
    border-left: 0;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background: #f7f8fc;
}
.modal-backdrop.fade.in {
    display: none !important;
}
.chat-input-text__field:focus {
    color: #60768b;
    background: #fff;
}

.modal-guide-create {
    width: 316px;
    height: 148px;
    position: absolute;
    top: 90px;
    left: 230px;
    border: 0;
    background: url("../img/img-create.svg") no-repeat center center transparent;
    padding: 20px 0 16px 0;
    text-align: center;
    z-index: 2;
}

.modal-guide-create__title {
    /*font-family: 'Lato';*/
    font-weight: 500;
    font-size: 16px;
    color: #32c5e6;
}

.modal-guide-create__desc {
    /* font-family: 'Lato';*/
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin: 10px 0;
}

.modal-guide-create__button {
    width: 76px;
    height: 32px;
    background: #32c5e6;
    border: 1px solid #0692b0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /*  font-family: 'Exo 2';*/
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.modal-guide-create__button:hover,
.modal-guide-create__button:focus {
    background: #328fe6;
    border: 1px solid #1a64ab;
}

.modal-guide-leave {
    display: none;
    width: 62px;
    height: 42px;
    position: absolute;
    top: 52px;
    right: 16px;
    border: 0;
    background: url("../img/img-leave.svg") no-repeat center center transparent;
    /* font-family: 'Lato';*/
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 46px;
    text-align: center;
    z-index: 5;
}
.chat-top__button-leave:hover + .modal-guide-leave {
    display: block;
}

.modal-guide-member {
    display: none;
    width: 132px;
    height: 42px;
    position: absolute;
    top: 52px;
    right: 18px;
    border: 0;
    background: url("../img/img-current.svg") no-repeat center center transparent;
    /*  font-family: 'Lato';*/
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    line-height: 46px;
    text-align: center;
    z-index: 5;
}
.chat-top__button-member:hover + .modal-guide-member {
    display: block;
}
.chat-top__button-member--active:hover + .modal-guide-member {
    display: none;
}

.modal-guide-user {
    display: none;
    width: 132px;
    height: 42px;
    position: absolute;
    top: 52px;
    right: 42px;
    border: 0;
    background: url("../img/img-member.svg") no-repeat center center transparent;
    /* font-family: 'Lato';*/
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 46px;
    text-align: center;
    z-index: 5;
}
.chat-top__button-invite:hover + .modal-guide-user {
    display: block;
}
.chat-top__button-invite--active:hover + .modal-guide-user {
    display: none;
}

.modal-open-chat {
    display: none;
    width: 300px;
    height: 100vh;
    position: absolute;
    background: #fff;
    top: 0;
    left: 220px;
    z-index: 2;
}

.modal-open-chat-top {
    height: 72px;
    padding: 20px 24px;
    border-bottom: 1px solid rgba(171, 184, 196, 0.5);
}

.modal-open-chat-top__search {
    width: 250px;
    height: 32px;
    padding: 0 34px 0 12px;
    background: url("../img/icon-search.svg") no-repeat 220px center #fff;
    /*  font-family: 'Lato';*/
    font-weight: 400;
    font-size: 14px;
    color: #abb8c4;
    border: 1px solid #abb8c4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.modal-open-chat-top__search:hover {
    background: url("../img/icon-search.svg") no-repeat 220px center #fafcff;
    border: 1px solid #abb8c4;
}

.modal-open-chat-top__search:focus {
    background: url("../img/icon-search.svg") no-repeat 220px center #fff;
    border: 1px solid #6742d6;
    color: #60768b;
}

.modal-open-chat-list {
    width: 100%;
    height: calc(100% - 163px);
    overflow-y: auto;
}

.modal-open-chat-list__item {
    width: 100%;
    height: 36px;
    background: 20px center transparent;
    /* font-family: 'Lato';*/
    font-weight: 400;
    font-size: 16px;
    color: #60768b;
    line-height: 36px;
    padding: 0 0 0 10px;
    cursor: pointer;
    overflow-y: hidden;
    word-break: break-all;
}
.modal-open-chat-list__item:hover {
    background: 20px center #e4ebef;
    font-weight: 600;
    color: #333e4a;
}
.modal-open-chat-list__item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.modal-open-chat-more {
    display: none;
    width: 100%;
    height: 72px;
    border-top: 1px solid rgba(171, 184, 196, 0.5);
    /*font-family: 'Lato';*/
    font-weight: 400;
    font-size: 14px;
    color: #60678b;
    line-height: 36px;
    text-align: center;
    padding: 12px 15px;
}
.modal-open-chat-more__icon {
    width: 10px;
    height: 10px;
    background: url("../img/btn-more-normal.svg") no-repeat center center;
    margin-left: 6px;
    display: inline-block;
}
.modal-open-chat-more:hover,
.modal-open-chat-more:focus {
    color: #32c5e6;
}
.modal-open-chat-more:hover > .modal-open-chat-more__text > .modal-open-chat-more__icon,
.modal-open-chat-more:focus > .modal-open-chat-more__text > .modal-open-chat-more__icon {
    background: url("../img/btn-more-over.svg") no-repeat center center;
}

.modal-open-chat-more__text {
    width: 270px;
    height: 46px;
    margin: auto;
    /* font-family: 'Lato';*/
    font-weight: 400;
    font-size: 14px;
    color: #60678b;
    line-height: 46px;
    text-align: center;
    background: #fff;
    cursor: pointer;
}

.modal-open-chat-more:hover > .modal-open-chat-more__text,
.modal-open-chat-more:focus > .modal-open-chat-more__text {
    color: #32c5e6;
    background: #f5f6f7;
}

.modal-messaging {
    display: none;
    width: 300px;
    height: 75vh !important;
    position: absolute;
    background: #fff;
    top: 0;
    left: 220px;
    z-index: 2;
    left: 0 !important;
    top: 56px !important;
}
.modal-messaging-top {
    width: 100%;
    min-height: 48px;
    padding: 16px 20px 0 20px;
    /* font-family: 'Lato';*/
    font-weight: 500;
    border-bottom: 1px solid rgba(171, 184, 196, 0.5);
}
.modal-messaging-top__title {
    font-size: 16px;
    color: #333e4a;
}
.modal-messaging-top__desc {
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    color: #abb8c4;
}

.modal-messaging-top__btn{
    position: absolute;
    right: 10px;

    border: 1px solid #4e4273;
    color: #4e4273;
    background-color: #f7f8fc;
    background: url("../img/icon-create-channel.svg") no-repeat 20px center #fff;
    background-position: center center;
    width: 26px;
    height: 26px;
}

.modal-messaging-list {
    width: 100%;
    height: calc(100% - 164px);
    overflow-y: auto;
    margin-bottom: 36px !important;
}
.modal-messaging-list__item {
    width: 100%;
    height: 36px;
    padding: 0 20px 0 50px;
    background: url("../img/icon-userlist.svg") no-repeat 20px center #fff;
    /*font-family: 'Lato';*/
    font-weight: 400;
    font-size: 16px;
    color: #60768b;
    line-height: 36px;
    cursor: pointer;
}
.modal-messaging-list__item:hover,
.modal-messaging-list__item:focus {
    font-weight: 600;
    background: url("../img/icon-userlist.svg") no-repeat 20px center #e4ebef;
}
.modal-messaging-list__icon {
    width: 16px;
    height: 36px;
    float: right;
    background: url("../img/btn-check-normal.svg") no-repeat center center;
}
.modal-messaging-list__item:hover > .modal-messaging-list__icon,
.modal-messaging-list__item:focus > .modal-messaging-list__icon {
    background: url("../img/btn-check-over.svg") no-repeat center center;
}
.modal-messaging-list__icon--select,
.modal-messaging-list__item:hover > .modal-messaging-list__icon--select,
.modal-messaging-list__item:focus > .modal-messaging-list__icon--select {
    background: url("../img/btn-check-click.svg") no-repeat center center;
}
.modal-messaging-more {
    width: 100%;
    height: 46px;
    /* font-family: 'Lato';*/
    font-weight: 400;
    font-size: 14px;
    color: #60678b;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
}
.modal-messaging-more:hover,
.modal-messaging-more:focus {
    color: #32c5e6;
}
.modal-messaging-more__icon {
    width: 10px;
    height: 10px;
    background: url("../img/btn-more-normal.svg") no-repeat center center;
    margin-left: 6px;
    display: inline-block;
}
.modal-messaging-more:hover > .modal-messaging-more__icon,
.modal-messaging-more:focus > .modal-messaging-more__icon {
    background: url("../img/btn-more-over.svg") no-repeat center center;
}
.modal-messaging-bottom {
    width: 100%;
    height: 72px;
    border-top: 1px solid rgba(171, 184, 196, 0.5);
    text-align: center;
    padding: 13px 0;
    transform: translate(0,-50%);
}
.modal-messaging-bottom__button {
    width: 270px;
    height: 46px;
    border: 1px solid #0692b0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* font-family: 'Exo 2';*/
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    background: #32c5e6;
}
.modal-messaging-bottom__button:hover,
.modal-messaging-bottom__button:focus {
    border: 1px solid #1a64ab;
    background: #328fe6;
}

.modal-leave-channel, .modal-hide-channel, .modal-confirm, .modal-input {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 3;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal-leave-channel-card, .modal-hide-channel-card, .modal-confirm-card, .modal-input-card {
    width: 386px;
    height: auto;
    margin: 200px auto;
    background: #fff;
    opacity: 1;
    border: 1px solid #abb8c4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.modal-leave-channel-title, .modal-hide-channel-title, .modal-confirm-title, .modal-input-title {
    /*  font-family: 'Lato';*/
    font-weight: 600;
    font-size: 18px;
    color: #333e4a;
    margin-top: 15px;
    padding: 0 20px;
}

.modal-leave-channel-desc, .modal-hide-channel-desc, .modal-confirm-desc, .modal-input-desc {
    /* font-family: 'Lato';*/
    font-weight: 400;
    font-size: 14px;
    color: #60768b;
    margin-top: 10px;
    padding: 0 20px;
}

.modal-leave-channel-separator, .modal-hide-channel-seprator, .modal-confirm-seprator, .modal-input-separator {
    padding-top: 14px;
    border-bottom: 1px solid rgba(171, 184, 196, 0.5);
}

.modal-leave-channel-bottom, .modal-hide-channel-bottom, .modal-confirm-bottom, .modal-input-bottom {
    padding: 10px 20px;
    text-align: right;
}

.modal-leave-channel-button, .modal-hide-channel-button, .modal-confirm-button, .modal-input-button {
    width: 68px;
    height: 28px;
    text-align: center;
    /* font-family: 'Exo 2';*/
    font-weight: 400;
    font-size: 12px;
    border: 1px solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.modal-leave-channel-close, .modal-hide-channel-close, .modal-confirm-close, .modal-input-close {
    color: #60678b;
    border: 1px solid #abb8c4;
    background: #fafcff;
}
.modal-leave-channel-close:hover, .modal-hide-channel-close:hover, .modal-confirm-close:hover, .modal-input-close:hover,
.modal-leave-channel-close:focus, .modal-hide-channel-close:focus, .modal-confirm-close:focus, .modal-input-close:focus {
    color: #6742d6;
    border: 1px solid #6742d6;
}

.modal-leave-channel-submit, .modal-hide-channel-submit, .modal-confirm-submit, .modal-input-submit {
    width: 58px;
    color: #fff;
    border: 1px solid #0692b0;
    background: #32c5e6;
}
.modal-leave-channel-submit:hover, .modal-hide-channel-submit:hover, .modal-confirm-submit:hover, .modal-input-submit:hover,
.modal-leave-channel-submit:focus, .modal-hide-channel-submit:focus, .modal-confirm-submit:focus, .modal-input-submit:focus {
    border: 1px solid #1a64ab;
    background: #328fe6;
}

.modal-input-box {
    width: 100%;
    padding: 0 20px 0 20px;
}

.modal-input-box-elem {
    width: 100%;
    background-color: #F8F8F8;
    border-radius: 3px;
    border: 1px solid #dedede;
    height: 30px;
    padding-left: 12px;
}

.modal-member {
    display: none;
    width: 250px;
    height: 410px;
    position: absolute;
    top: 56px;
    right: 48px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #abb8c4;
    z-index: 2;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
}

.modal-member-title {
    width: 100%;
    height: 38px;
    /*font-family: 'Exo 2';*/
    font-weight: 400;
    font-size: 12px;
    color: #60768b;
    border-bottom: 1px solid #abb8c4;
    border-bottom: 1px solid rgba(171, 184, 196, 0.5);
    padding: 0 20px;
    line-height: 38px;
}

.modal-member-list {
    width: 100%;
    height: 340px;
    /* font-family: 'Lato';*/
    font-weight: 500;
    font-size: 14px;
    color: #60768b;
    padding: 0 0 14px 0;
    margin-top: 14px;
    overflow-y: auto;
}

.modal-member-list__item {
    padding: 0 20px 14px 20px;
}

.modal-member-list__icon img {
    width: 23px;
    height: 23px;
    float: left;
    margin-right: 10px;
}

.modal-member-list__name {
    width: auto;
    height: 23px;
    line-height: 23px;
    color: #cdcdcd;
}

.modal-member-list__name.online {
    color: #60768b;
}

.modal-member-list__lastseenat {
    text-align: right;
    font-size: 10pt;
    color: #cdcdcd;
}

.modal-invite {
    display: none;
    width: 386px;
    height: 410px;
    position: absolute;
    top: 56px;
    right: 80px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #abb8c4;
    z-index: 2;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
}

.modal-invite-title {
    width: 100%;
    height: 38px;
    /*  font-family: 'Exo 2';*/
    font-weight: 400;
    font-size: 12px;
    color: #60768b;
    border-bottom: 1px solid rgba(171, 184, 196, 0.5);
    padding: 0 20px;
    line-height: 38px;
}

.modal-invite-top {
    width: 100%;
    height: 80px;
    padding: 16px 20px;
    /* font-family: 'Lato';*/
    font-weight: 500;
}
.modal-invite-top__title {
    font-size: 16px;
    color: #333e4a;
    display: block;
}
.modal-invite-top__desc {
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    color: #abb8c4;
}

.modal-invite-list {
    width: 100%;
    height: 234px;
    /*font-family: 'Lato';*/
    font-weight: 500;
    font-size: 14px;
    color: #60768b;
    padding: 0;
    margin-bottom: 6px;
    overflow-y: auto;
}

.modal-invite-bottom {
    width: 100%;
    height: 38px;
    padding: 10px 20px;
    text-align: right;
    border-top: 1px solid rgba(171, 184, 196, 0.5);
}

.modal-invite-bottom__button {
    width: 68px;
    height: 28px;
    border: 1px solid #0692b0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*font-family: 'Exo 2';*/
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    background: #32c5e6;
}
.modal-invite-bottom__button:hover,
.modal-invite-bottom__button:focus {
    border: 1px solid #1a64ab;
    background: #328fe6;
}
.sendbird-chat-cls .sample-body {
    display: inline !important;
}

.sendbird-chat-cls{
    display: inline-table !important;
    position: absolute !important;
}

.sendbird-chat-cls .sample-body {
    min-width: 500px;
    display: inline-flex;
}
.sendbird-chat-cls .left-nav-channel-select {
    padding: 0 14px 0 14px;
}

.nav .navbar-nav{
    position: relative !important;
}
/* 9-1-2018 */
.chat-header.main-header .top-menues a{
    cursor:pointer !important;
}
.chat-header #btn_messaging_chatz {
    margin: 0px 0;
    padding: 6px 12px 6px 25px;
    font-size: 12px;
    border-radius: 20px;
    color: #fff!important;
    border-color: #5a656b;
    border-bottom-color: #5a656b;
    background: #5a656b;
    position:relative;
    width:auto !important;
}
.chat-header #btn_messaging_chatz:before{
    position: absolute;
    content: "\f0e5";
    top: 4px;
    left: 7px;
    color: white;
    font-family: "FontAwesome";
    font-size: 14px;
}
.chat-header #btn_messaging_chatz:hover {
    text-decoration:none;
    border-color: #000;
    border-bottom-color: #000;
    background: #000;
}

/*.chat-header .right-section.message-popup{
  left: -110px !important;
    top: 60px !important;
}
*/
.chat-header .modal-messaging-top{
    position:relative;
}
.chat-header .modal-messaging-top i{
    position: absolute;
    right: 15px;
    top: 17px;
}
.chat-header .modal-messaging{
    left: -110px !important;
    top: 56px !important;
}


.chat-header.main-header .nav>li>a {
    height: auto !important;
    line-height: 19px;
    /*  font-family: 'LiGothicMed';*/
}
.chat-header.main-header .nav > li > a span {
    font-size: 15px !important;
}
#new-message input {
    border-radius: 5px;
    border: 1px solid #5a656b;
    padding: 5px 15px;
    width: 100%;
    margin-top: 5px;
}
.modal-messaging-bottom__button {
    background-color: #5a656b;
    border-radius: 26px;
    height: inherit;
    padding: 8px;
    margin-top: 15px;
    border: none;
}

.profile-rightbar{
    border: 0 none;
    margin-top: 10px;
}
.profile-rightbar .about-bio{
    margin-top: 15px;
}
.profile-rightbar .user-name > a{
    font-size: 21px;
    color: #555;
    text-transform: capitalize;
}
.profile-rightbar .main-username > a{
    font-size: 14px;
    color: #555;
    text-transform: capitalize;
}
.about-list li > div {
    color: #555;
}
/*.profile-rightbar .modal-messaging-bottom__button{*/
/*    width: 90%;*/
/*    padding: 7px;*/
/*    border: 1px solid #5a656b;*/
/*    margin: 10px auto;*/
/*    display: table;*/
/*    font-size: 14px;*/
/*    margin-left: 0;*/
/*    margin-top: 15px;*/
/*}*/
.profile-rightbar .modal-messaging-bottom__button:hover,.profile-rightbar .modal-messaging-bottom__button:focus{
    border: 1px solid #000;
    background: #000;
}

.left-nav-channel {
    font-size: 13px;
    /* font-family: 'LiGothicMed';*/
}
.right-section.message-popup{
    position: fixed;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 600px;
    z-index: 999;
    border-radius:5px;
    padding:5px;
    background: white;
}
.typeahead input {
    line-height: 32px;
}
.right-section.message-popup .chat-top-button{
    display: none !important;
}
.right-section.message-popup .close_btn{
    display: none;
}
.profile-avatar-wrapper {
    left: 30px;
}

.right-section.message-popup .chat-top {
    position: relative;
    padding: 25px 20px 15px 20px;
}
.right-section.message-popup .custom_back_btn{
    position: absolute;
    left: 20px;
    top: 30px;
    color: black;
}
.right-section.message-popup .chat-top__title{
    float: none !important;
    text-align: center !important;
    color: black;
    display: table !important;
    margin: 0 auto !important;
}
.right-section.message-popup .close_chat {
    position: absolute;
    top: 25px;
    right: 10px;
    padding: 0 10px;
    z-index: 999;
    cursor: pointer;
    font-size: 15px;
}

.right-section.message-popup .chat-input {
    width: 100%;
    height: 80px;
    position: relative;
}
.right-section.message-popup .chat-input-text {
    width: 100%;
    height: 60px;
    float: left;
}
.right-section.message-popup .chat-input-text__field {
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
}
.right-section.message-popup .chat-input-text__field{
    border-left: 1px solid #abb8c4;
}
.attachement_section{
    position: absolute;
    font-size: 17px;
    width: auto;
    display: block;
    right: 30px;
    top: 10px;
    color: grey;
}
.attachement_section i {
    display: block;
    padding: 15px 5px;
}
.custom_autocomplete .typeahead .TokenizedMultiselect-inputContainer ul.tags  {
    margin-bottom: 0;
}
.TokenizedMultiselect-inputContainer input {
    width: auto;
}
.TokenizedMultiselect-inputContainer .tags li {
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    margin-top: 3px;
}

.right-section.message-popup .chat {
    display: none;
    width: 100%;
    height: calc(100% - 120px);
    background: #fff;
}
.hide-mymodal-direct {
    display: none !important;
}
.init-check {
    background:none !important;
}
.custom_back_btn {
    cursor: pointer;
}
#modal {
    padding-left:0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    overflow:hidden !important;
    height:580px;
    width:600px;
}
#modal .modal-dialog {
    width: 600px;
}
.modal-overlay.custom-overlay {
    position: fixed;
    background: #000;
    opacity: 0.5;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 99;
    display: none;
}

.admin_detail h3 a{
    color: black;
    font-size: 18px;
    text-transform: capitalize;
}
.admin_detail span a{
    color: #657786;
    font-size: 14px;
}
div#messaging_channel_list {
    min-height: 450px;
    height: 80vh;
    overflow-y: auto;
}
#messaging_channel_list .left-nav-channel-group {
    margin-bottom: 0;
    min-height: auto;
    padding: 13px 10px 13px 15px;
    background: none !important;
    display: inline-block;
    width: 100%;

    padding-left: 77px;
}

#modal .modal-body{
    padding:0;
}
#modal .panel-heading {
    padding: 15px 15px;
}
#modal .chat-to .typeahead input {
    line-height: 25px;
}
#modal .chat-to .TokenizedMultiselect-inputContainer .tags li {
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 15px 3px 10px;
    margin-top: 0px;
    line-height: 12px;
    border: 1px solid #EEF2F5;
    position: relative;
}
/******/
.right-section.message-popup.message-list .chat-top {
    padding: 9px 20px 0 20px;
    height: 60px;
}
.right-section.message-popup.message-list .chat_back{
    position: absolute;
    top: 17px;
    color: #000;
    cursor: pointer;
}
.right-section.message-popup.message-list .close_chat {
    top: 12px;
}
.message-list .chat-canvas__list.user_chat {
    text-align: right;
    position: relative;
}
.chat-canvas__list.user_chat .time-send-right{
    position: absolute;
    bottom: -15px;
    right: 45px;
}
.message-list  .chat-canvas__list {
    text-align: left;
    position: relative;
}
.chat-canvas__list  .time-send-right{
    position: absolute;
    bottom: -15px;
    left: 63px;
}
.message-list label.chat-canvas__list-text {
    background-color: #e6ecf0;
    padding: 8px 12px;
    border-radius: 20px;
    color: #000;
    border-bottom-left-radius: 0;
}
.message-list .footer_send button {
    float: right;
    margin-right: 17px;
    background-color: #5a656b;
    color: #fff;
    padding: 6px 25px;
    border-radius: 20px;
    text-transform: uppercase;
    border:none ;
}
.message-list .user_chat label.chat-canvas__list-text  {
    background-color: #1da1f2;
    color: #FFF;
}
.message-list  .user_chat label.chat-canvas__list-text {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
}
/*.message-list .footer_send button {
  float: right;
  margin-right: 27px;
  background-color: #1da1f2;
  color: #fff;
  padding: 6px 25px;
}*/
.message-list .chat-input {
    padding: 8px 10px 4px 10px;
}
.right-section.message-popup.message-list .chat-input-text {
    width: 90%;
}
.message-list .chat-input-file {
    height: 50px;
    width: 50px;
}
.right-section.message-popup.message-list {
    height: 550px;
}
.right-section.message-popup .chat-top__title--messaging {
    background: none;
}
.right-section.message-popup .chat-top__title--messaging img {
    width: 37px;
    border-radius: 50%;
    margin-right: 8px;
}
.right-section.message-popup .chat-top__title--group img {
    width: 37px;
    border-radius: 50%;
    margin-right: 8px;
}
.right-section.message-popup .chat-top__title--messaging span {
    font-size: 19px;
    text-transform: capitalize;
}

.chat-canvas__list-name img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 4px;
}
.message-list .chat-canvas__list-separator {
    display: none;
}
.message-list label.chat-canvas__list-name.chat-canvas__list-name__user {
    float: right;
    margin-left: 4px;
}
.time-send-right {
    margin-right: 10px;
    font-size: 12px;
}
.time-send-right span {
    margin-right: 8px;
}
.time-send-right {
    display:block !important;
}
.chat-canvas__list{
    margin-bottom: 20px;
}
/******/
.time-send-right span.fa-check{
    color:green;
}
.left-nav-channel-messaging--active {
    background: none;
    color: #fff;
    padding: 13px 10px 13px 15px;
    display: inline-block;
    width: 100%;
}
.chat-canvas__list:hover {
    background-color: transparent !important;
}
#modal.fade.in{
    transition:none !important;
    -webkit-transition:none !important;
    -o-transition:none !important;
}
.main-header .nav>li>a {
    height: auto !important;
    cursor:pointer;
}
.new_chat_popup {
    margin-right:20px;
}
#modal .chat-to .TokenizedMultiselect-inputContainer .tags li button.close {
    top: 4px;
    right: 3px;
    position: absolute;
}
.chat_top_name{
    display: inline-block;
    width: auto;
}
.profile-rightbar .modal-messaging-bottom__button {
    width: 90%;
    padding: 7px;
    border: 1px solid #5a656b;
    margin: 10px auto;
    display: table;
    font-size: 14px;
    margin-left: 0;
    margin-top: 15px;
    background-color: #5a656b;
    border-radius: 26px;
    height: auto;
}
.profile-rightbar.panel {
    border: 0 none !important;
    margin-top: 10px;
    box-shadow:none  !important;
}
body.modal-opens {
    overflow: auto !important;
}
.custom-search-follow{
    width:100%;
}
.offcanvas-sidebar .search-panel-body .js_search-form .col-sm-4{
    padding: 0;
    width: auto !important;
}
.offcanvas-sidebar .search-panel-body .js_search-form .btn-primary {
    color: #fff;
    background-color: #5a656b;
    border-color: #5a656b;
}
.custom-site-bar-new .profile-bg-thumb img {
    height: 100%;
}
.modal-open {
    overflow: hidden;
    position: relative !important;
}
.main-header .navbar-nav>li>a {
    line-height: 22px;
}

.username_and_tick .verified-badge {
    color: #5a656b;
    display: inline-block;
    padding-left: 5px;
    font-size: 17px;
}
.username_and_tick .user-name{
    display:inline-block;
}
.ProfileHeading-toggle {
    border-bottom: 1px solid #ddd;
}

.profile-sidebar .panel-default>.panel-heading , .panel-default>.panel-heading {
    color: #333;
    background-color: white;
    border-color: white;
}
.pg_photo {
    height: auto;
}

.ProfileHeading-toggleItem.is-active a, .ProfileHeading-toggleItem.is-active a:hover, .ProfileHeading-toggleItem.is-active a:focus {
    color: #000;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
.post-actions span.text-clickable {
    color: #657786;
    display: inline-block !important;
    float: left !important;
    padding-top: 2px !important;

}
.post-actions span:last-of-type {
    padding-left:10px;
}
.about-bio {
    padding: 1px 0 0px 0;
    margin-bottom: 0;
}
.profile-rightbar.panel {
    margin-bottom: 0;
}
.mobile-menu ul li a{
    margin-top:1px;
}
#modal2 .modal-body {
    overflow: hidden;
    clear: both;
}
/************* MEDIA QUERIES   **************/
@media(max-width:1199px) {
    .main-header .brand-container {
        margin: 0 0 0 -105px;
    }
    .side_profile {
        min-height: 220px;
    }
    .offcanvas-sidebar .search-panel-body .js_search-form .btn-primary {
        padding:6px 8px;
    }

    .custom-site-bar-new .side_profile, .sidebar_custom_trands .side_profile {
        margin: 0;
        word-wrap: break-word;
    }
    .custom-site-bar-new .profile-bg-thumb img {
        height: 100%;
    }
    .side_profile {
        padding: 15px 5px 7px 5px;
    }
    .side_profile ul li {
        float: left;
        width: 37%;
    }
    .side_profile ul li:first-of-type {
        float: left;
        width: 25%;
    }
    .profile-tabs-wrapper {
        padding-left: 214px;
    }
    .ProfileHeading-toggleItem {
        font-size: 15px;
    }
    .profile-sidebar .panel-heading strong {
        font-size: 16px;
    }
    .profile-tabs-wrapper > ul > li > a {
        padding: 12px 15px;
    }
    .profile-tabs-wrapper {
        padding-left: 220px !important;
    }
    .profile-tabs-wrapper>ul>li>a {
        padding: 12px 15px !important;
    }
}

@media(max-width:1024px) {
    .main-header .navbar-form {
        width: 220px !important;
    }
    .main-header .brand-container {
        position: static;
        margin: 0 0 0 20px;
    }
    .contact-icon a {
        font-size: 12px !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .main-header .nav > li > a span {
        display: none;
    }
}
@media(max-width:991px) {
    .chat-header .modal-messaging {
        left: -35px !important;
        top: 56px !important;
    }
    span.name.js_user-popover a span {
        word-wrap: break-word;
    }
    .profile-buttons-wrapper a span {
        display: none;
    }

    .profile-tabs-wrapper>ul>li>a {
        padding: 12px !important;
    }
    .ProfileHeading-toggleItem {
        padding: 15px 7px 12px;
    }
    .user-name {
        font-size: 18px !important;
    }
    .ProfileHeading-toggleItem {
        font-size: 13px !important;
    }
}
@media(max-width: 767px) {
    .chat-header .modal-messaging {
        left: 0 !important;
        top: 90px !important;
    }
    .col-sm-4.offcanvas-sidebar {
        position: absolute;
        top: 0;
        left: -80%;
        width: 80%;
        height: 100%;
        z-index: 100;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .post_area_custom textarea {
        height: 80px !important;
    }
    .right-section.message-popup {
        /*top: 15px;*/
        z-index: 1020;
        height: 380px;
        box-shadow:0 0 0  ;
    }
    .profile-tabs-wrapper ul.nav {
        text-align: center;
    }
    .profile-tabs-wrapper > ul.nav > li {
        display: inline-block;
        float: none;
    }
    .sidebar_trends, .about-list-item, .panel-default {
        text-align: center;
        padding-left: 0;
    }
	.about-bio{
        text-align: left;
        padding-left: 0;
    }
    .about-list-item .fa {
        position: inherit;
        text-align: center;
    }
    .profile-buttons-wrapper {
        right: 0;
        left: 0px;
    }
    .profile-avatar-wrapper {
        left: 50%;
        margin-left: -50px;
    }
    .profile-rightbar .modal-messaging-bottom__button {
        width: auto;
        padding: 10px 50px;
        margin: 20px auto 0;
    }
    .data-container.small {
        text-align: left;
    }
    .footer {
        margin-bottom: 0;
        text-align: center;
        padding-top: 20px;
    }
    .mobile-menu {
        float: right;
        width: 100%;
    }
    .chat-header.main-header .nav>li>a#open_conversation_list {
        display: none;
    }
    .right-section.message-popup {
        width: 95%;
    }
    #modal {
        width: 100%;
    }
    #modal .modal-dialog {
        width: 94%;
        margin: 0 auto;
        display: table;
    }
    .offcanvas-sidebar{
        left:0;
    }
    .right-section.message-popup.message-list .chat-input-text {
        width: 92%;
    }
    .message-list .chat-input-file {
        height: 50px;
        width: 8%;
    }
    .message-list .chat-canvas__list.user_chat {
        text-align: right;
        float: right;
    }
    .message-list .footer_send button {
        float: right;
        margin-right: 0;
    }
    .footer_send{
        display: inline-block;
        width: 100%;
        padding: 0 10px;
    }
    .main-header .brand-container {
        position: absolute;
        margin: 0 0 0 -45px;
    }
    .side_profile {
        min-height: auto;
    }
    .mobile-menu .navbar-nav .open .dropdown-menu {
        position: absolute !important;
        float: left  !important;
        width: 100%  !important;
        margin-top: 0  !important;
        background-color: #fff  !important ;
        border: 1px solid #ccc  !important;
        border: 1px solid rgba(0,0,0,.15)  !important;
        border-top: 0  !important ;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)  !important ;
        box-shadow: 0 6px 12px rgba(0,0,0,.175) !important ;
    }
    .profile-buttons-wrapper span {
        display: inline-block;
    }
    .profile-tabs-wrapper {
        padding-left: 0 !important;
    }
    .offcanvas-sidebar{
        z-index:-1;
    }
}
@media(max-width:480px){
    .chat-header .right-section.message-popup{
        /*width:75%;*/
    }
    .chat-header .chat-canvas__list-text {
        max-width: calc(100% - 100px);
    }
    /*.right-section.message-popup.message-list .chat-input-text {
        width: 76%;
    }*/
    .chat-canvas__list {
        font-size: 14px;
    }
    .message-list label.chat-canvas__list-text {
        padding: 5px 10px;
        font-size: 14px;
        max-width: calc(100% - 80px);
    }
    .right-section.message-popup.message-list .chat-input-text {
        width: 88%;
    }
    .message-list .chat-input-file {
        height: 50px;
        width: 12%;
    }
    .profile-tabs-wrapper {
        padding-left: 0;
    }
    .profile-tabs-wrapper>ul>li>a {
        padding: 12px 5px !important;
    }
}
@media(max-width:400px){
    .chat-header .right-section.message-popup {
        /*width: 65%;*/
    }
    .chat-header .chat-canvas__list-text {
        max-width: calc(100% - 170px);
    }
    .profile-avatar-wrapper {
        bottom: 80px;
    }
    .profile-tabs-wrapper>ul>li>a {
        padding: 12px 10px !important;
    }
}
@media (max-width:  360px) {
    .chat-header .right-section.message-popup {
        /*width: 60%;*/
        /* left: -4px;*/
    }
    .chat-top__title {
        font-size: 16px;
    }
    .chat-top {
        padding: 21px 5px 0 10px;
    }
}

/****************************************************************/
.modal-header.DMActivity-header {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #E6ECF0;
    -moz-box-sizing: border-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-height: 65px;
    padding: 10px 15px;
    color: #657786;
}

.js_conversation-container .panel {
    border: 0px;
}

.transparent-no-border-button {
    background: transparent;
    border: 0;
    padding: 0;
    transition: box-shadow .15s ease-in-out;
}

/************************** Twitter Styles ***************************/
div[contenteditable="true"]:focus,
div[contenteditable="true"].fake-focus {
    outline: 0;
    color: #14171A;
    border-color: rgba(0, 132, 180, 0.5);
}

.account-group .UserBadges {
    font-size: .9em;
}

.account-group .username, .time, .time a, .created-via {
    font-size: 14px;
    color: #657786;
}

.disabled, .disabled:hover {
    background: #F5F8FA;
    border-color: #CCD6DD;
    cursor: not-allowed;
}

.Caret {
    position: relative;
}

.Caret:before, .Caret--stroked:after {
    border-style: solid;
    border-width: 5px;
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
}

.Caret--bottom:before, .Caret--bottom.Caret--stroked:after {
    border-bottom-width: 0!important;
    border-left-color: transparent!important;
    border-right-color: transparent!important;
    border-bottom-color: transparent!important;
    left: 50%;
    bottom: 0;
    -ms-transform: translateX(-50%) translateY(100%);
    transform: translateX(-50%) translateY(100%);
}

.ComposerThumbnail {
    background-color: #ccd6dd;
    border: 1px solid #e6ecf0;
    border-radius: 6px;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.05), 0 1px 0 rgba(255,255,255,0.5);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin-right: 8px;
    max-width: 312px;
    overflow: hidden;
    position: relative;
    width: 113px;
}

.ComposerThumbnail:last-child {
    margin-right: 0;
}

.ComposerThumbnail-edit {
    bottom: 4px;
    padding: 0 6px;
    right: 4px;
}

.ComposerThumbnail-imageContainer {
    height: 113px;
    overflow: hidden;
    width: 113px;
}

.ComposerThumbnail-overlay {
    background: #14171a;
    border-radius: 4px;
    color: #fff;
    margin-top: 0;
    position: absolute;
}

.ComposerThumbnail-remove {
    border-radius: 10px;
    height: 19px;
    right: 4px;
    top: 4px;
    width: 19px;
}

.ComposerThumbnail-remove .Icon {
    line-height: 18px;
    display: block;
    position: static;
}

.ComposerVideoInfo {
    border-top: 1px solid #e6ecf0;
    font-size: 14px;
    padding-top: 9px;
    margin-top: 8px;
}

.DirectMessage {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 10px;
}

.DirectMessage:hover .DirectMessage-actions .DMDeleteMessageAction[aria-hidden='true'],
.DirectMessage:hover .DirectMessage-actions .DMReportMessageAction[aria-hidden="true"] {
    visibility: visible;
}

.DirectMessage.is-rapidFire+.DirectMessage--received .DirectMessage-message,
.DirectMessage--received .DirectMessage-attachmentContainer+.DirectMessage-contentContainer {
    border-top-left-radius: 0;
}

.DirectMessage-action {
    margin: 0 3px;
}

.DirectMessage-actions {
    color: #657786;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 6px;
}

.DirectMessage-actions .DMDeleteMessageAction[aria-hidden='true'],
.DirectMessage-actions .DMReportMessageAction[aria-hidden='true'] {
    visibility: hidden;
}

.DirectMessage-avatar {
    height: 36px;
    width: 36px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.DirectMessage-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.DirectMessage-container,
.DirectMessage-message:not(.with-cta) .DirectMessage-contentContainer {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.DirectMessage-contentContainer>*:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.DirectMessage-contentContainer>*:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.DirectMessage-footer {
    font-size: 11px;
    line-height: 16px;
    color: #657786;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 46px;
    white-space: nowrap;
}

.DirectMessage-location .DMLocationAttachment, .DirectMessage-tweet .QuoteTweet, .DirectMessage-media .Media {
    border: 0;
}

.DirectMessage-media {
    background: transparent;
}

.DirectMessage-message {
    border-radius: 20px;
    margin: 0 10px;
    max-width: 60%;
}

.DirectMessage-message.with-card, .DirectMessage-message.with-cta,
.DirectMessage-message.with-location, .DirectMessage-message.with-media,
.DirectMessage-message.with-tweet {
    width: 100%;
}

.DirectMessage-message .DirectMessage-attachmentContainer, .DirectMessage-message .DirectMessage-contentContainer {
    border-radius: inherit;
    overflow: hidden;
}

.DirectMessage-text {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 12px;
    max-width: 100%;
}

.DirectMessage-text .tweet-text {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

.DirectMessage--received .DirectMessage-container,
.DirectMessage--received .DirectMessage-contentContainer {
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.DirectMessage--received .DirectMessage-message {
    border-bottom-left-radius: 0;
}

.DirectMessage--received .DirectMessage-text {
    background-color: #E6ECF0;
    color: #14171A;
}

.DirectMessage--sent .DirectMessage-container,
.DirectMessage--sent .DirectMessage-contentContainer {
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.DirectMessage--sent .DirectMessage-footer {
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.DirectMessage--sent .DirectMessage-message {
    border-bottom-right-radius: 0;
}

.DirectMessage--sent .DirectMessage-text {
    background-color: #1DA1F2;
    color: #FFF !important;
}

.DirectMessage--sent .DMReportMessageAction {
    display: none;
}

.DMActivity {
    border-radius: 5px;
    display: none;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 750px;
    min-width: 400px;
    overflow: hidden;
    position: relative;
    width: 45vw;
}

@media only screen and (max-width: 400px) {
    .DMActivity {
        min-width: 100vw;
    }
}

.DMActivity--open {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.DMActivity-body {
    background-color: #FFF;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

.DMActivity-container {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 80vh;
    min-height: 450px;
    overflow: hidden;
}

.DMActivity-footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.DMActivity-footer .DMButtonBar {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.DMActivity-header {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FFF;
    border-bottom: 1px solid #E6ECF0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-height: 65px;
    padding: 10px 15px;
    color: #657786;

    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.DMActivity-navigation {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.DMActivity-navigation, .DMActivity-toolbar {
    -ms-flex-preferred-size: 56px;
    flex-basis: 56px;
}

.DMActivity-navigation+.DMActivity-title {
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.DMActivity-notice {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.DMActivity-title {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #14171A;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    min-width: 0;

    /**/
    margin: 0px !important;
}

.DMActivity-toolbar {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    line-height: 0;
    white-space: nowrap;
}

.DMActivity-toolbar>*+* {
    margin-left: 15px;
}

.DMAvatar {
    border-radius: 100%;
    font-size: 0;
    height: 100%;
    line-height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.DMAvatar--1 .DMAvatar-image {
    height: 100%;
    width: 100%;
}

.DMAvatar-container {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.DMButtonBar {
    background-color: #F5F8FA;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
}

.DMComposer {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.DMComposer.has-thumbnail .DMComposer-attachment, .DMComposer.tweet-showing .DMComposer-attachment {
    display: block;
}

.DMComposer.tweet-form, .RichEditor, .DMComposer.tweet-form .RichEditor.is-fakeFocus {
    border: 0;
    border-radius: inherit;
    box-shadow: none;
}

.DMComposer .EmojiPicker-trigger {
    bottom: 4px;
}

.DMComposer .icon-btn {
    border: none !important;
    background: none !important;
}

.DMComposer .icon-btn .Icon {
    font-size: 24px;
    line-height: 24px;
}

.DMComposer .RichEditor-container {
    margin: 0 2px;
    width: calc(100% - 4px);
}

.DMComposer .RichEditor-scrollContainer {
    max-height: 96px !important;
}

.DMComposer .tweet-box {
    border: none !important;
    min-height: 0 !important;
}

.DMComposer .TweetBoxExtras {
    margin: 0 5px;
}

.DMComposer .TweetBoxExtras-item {
    margin: 0;
}

.DMComposer-attachment {
    border-bottom: 1px solid #ccd6dd;
    display: none;
    padding: 8px;
    position: relative;
}

.DMComposer-attachment .thumbnail-wrapper {
    padding: 0!important;
}

.DMComposer-container {
    background-color: #FFF;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 38px !important;
    min-width: 0;
    position: relative;
    width: 440px;
}

.DMComposer-discardTweet {
    background-color: #657786;
    border-radius: 20px;
    color: #fff;
    display: none;
    font-size: 12px;
    height: 20px;
    line-height: 1;
    margin-top: 4px;
    margin-right: 4px;
    opacity: .5;
    -ms-filter: "alpha(opacity=50)";
    position: absolute;
    right: 3px;
    top: 3px;
    width: 20px;
}

.DMComposer-editor.is-showPlaceholder:before {
    color: #CCD6DD;
    content: attr(data-default-placeholder);
    margin-left: 2px;
    position: absolute;
}

.DMComposer-gifSearch .dropdown-menu {
    max-width: calc(45vw - 150px);
    minm-width: 275px;
}

.DMComposer-media .thumbnail-container {
    background-color: transparent!important;
    box-shadow: none!important;
    height: auto!important;
    position: static!important;
}

.DMComposer-mediaPicker .photo-selector {
    margin: 0px !important;
}

.DMComposer-send {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.DMConversation-composer {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #E6ECF0;
}

.DMConversation-composer {
    display: block;
}

.DMConversation-container {
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.DMConversation-content {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: 0;
    padding: 0px;
    padding-bottom: 50px;
}

.DMConversation-newMessagesPillContainer {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
}

.DMConversation-newMessagesPillContainer.is-hidden {
    transition: all .35s linear;
    top: 0;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    visibility: hidden;
}

.DMConversation-readonly {
    width: 100%;
}

.DMConversation-readonly, .DMConversation.is-readonly {
    display: none;
}

.DMConversation-readOnlyFooter {
    padding: 15px;
    background-color: #AAB8C2;
    border-top: 1px solid #E6ECF0;
    border-radius: 0 0 6px 6px;
}

.DMConversation-scrollContainer {
    max-height: 100%;
    overflow-x: hidden;
    padding: 15px;
    position: relative;
    transform: translateZ(0);
}

.DMConversation-sendingStateIndicator {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
}

.DMConversation-typingIndicator {
    overflow: hidden;
}

.DMConversation .DMUpdateAvatar {
    margin-right: 12px;
}

.DMConversationSettings h3 {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    color: #66757f;
    line-height: 22px;
}

.DMConversationSettings-avatar {
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 8px;
    margin-top: 20px;
}

.DMConversationSettings-avatar .DMUpdateAvatar-avatar {
    width: 72px;
    height: 72px;
}

.DMConversationSettings-footer {
    background-color: currentColor;
    border-top: 1px solid #e6ecf0;
    padding: 0 180px;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.DMConversationSettings-footer button {
    margin: 8px;
    -moz-box-flex: 1;
    -ms-flex: 1 1 180px;
    flex: 1 1 180px;
}

.DMConversationSettings-mentions {
    border-bottom: 1px solid #e6ecf0;
    padding: 12px;
}

.DMConversationSettings-name {
    -ms-flex-item-align: center;
    align-self: center;
    width: 25em;
}

.DMConversationSettings-notifications {
    border-top: 1px solid #e6ecf0;
    padding: 12px;
    padding-bottom: 0;
}

.DMConversationSettings-notifications .radio input[type=radio],
.DMConversationSettings-notifications .checkbox input[type=checkbox] {
    float: left;
    margin: 3px 0;
    margin-left: -18px;
    width: auto;
    height: auto;
    padding: 0;
    line-height: normal;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
}

.DMConversationSettings-name .DMUpdateName {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}

.DMConversationSettings-participants .view-dm-participants {
    border-top: 1px solid #E6ECF0;
}

.DMConversationSettings-participants .DMViewParticipants-header, .DMConversationSettings-subscriptions {
    padding: 12px;
}

.DMDialog {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
}

.DMDialogTypeahead {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    padding-top: 8px;
}

.DMEmptyState {
    text-align: left;
    margin: 64px;
}

.DMEmptyState-details {
    color: #66757f;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
}

.DMEmptyState-header {
    color: #14171a;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 8px;
    font-weight: bold;
}

.DMFeedback {
    display: none;
    border-top: 1px solid #E6ECF0;
    width: 100%;
    padding: 0;
    background-color: #FFF;
    min-height: 100px;
    position: relative;
}

.DMFeedback iframe {
    width: 100%;
    height: auto;
}

.DMFeedback-dismiss {
    position: absolute;
    top: 10px;
    right: 13px;

}

.DMInbox-content {
    max-height: 100%;
    min-height: 100%;
    position: absolute;
    width: 100%;
    transform: translateZ(0);
}

.DMInbox-empty, .DMInbox-primary.is-empty .DMInbox-conversations,
.DMInbox-primary.is-empty .DMInbox-spinner,
.DMInbox-secondary.is-empty .DMInbox-untrustedConversations,
.DMInbox-secondary.is-empty .DMInbox-spinner,
.DMInbox-secondary.is-empty .DMInbox-secondaryInboxCopy {
    display: none;
}

.DMInbox-primary.is-empty .DMInbox-empty, .DMInbox-secondary.is-empty .DMInbox-empty {
    display: block;
}

.DMInbox-spinner {
    margin: 10px auto;
}

.DMInbox-tab {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #e6ecf0;
    padding: 8px 12px;
}

.DMInboxItem {
    border-bottom: 1px solid #e6ecf0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 82px;
    padding: 15px;
    padding-left: 77px;
    position: relative;
}

.DMInboxItem.is--unread {
    background-color: #eaf5fd !important;
}

.DMInboxItem-avatar {
    height: 52px;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 52px;
}

.DMInboxItem-header {
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: right;
}

.DMInboxItem-media {
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
}

.DMInboxItem-media+.DMInboxItem-snippet {
    margin-right: 38px;
    min-height: 28px;
}

.DMInboxItem-snippet {
    color: #657786;
    font-size: 14px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
}

.DMInboxItem-snippet.is-generated {
    font-style: italic;
}

.DMInboxItem-timestamp {
    color: #657786;
    font-size: 12px;
    top: 15px;
    white-space: nowrap;
}

.DMInboxItem-title{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.DMNotice {
    background: #AAB8C2;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px 45px;
    position: relative;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.DMNotice--error {
    background: #E0245E;
}

.DMNotice-actions {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 15px auto 0 auto;
}

.DMNotice-actions>button {
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 3px;
}

.DMNotice-dismiss {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
}

.DMNotice-message {
    -ms-flex-item-align: center;
    align-self: center;
    color: #FFF;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    max-width: 100%;
    text-align: center;
}

.DMPopover {
    position: relative;
}

.DMPopover--center .DMPopover-content {
    left: 50%;
    position: absolute!important;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.DMPopover-button {
    display: block;
}

.DMPopover-content {
    background-color: #fff;
    border-radius: 4px;
    border: 0 solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    display: none;
    margin-top: 8px;
    z-index: 900;
}

.DMPopoverMenu {
    color: #66757f;
    font-size: 14px;
    line-height: 28px;
    padding: 10px 0;
    text-align: inherit;
    white-space: nowrap;
}

.DMPopoverMenu-button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    min-width: 100%;
    outline: none!important;
    padding: 0 15px;
    text-align: inherit;
    width: auto;
}

.DMReadReceipt {
    cursor: pointer;
    display: inline-block;
}

.DMReadReceipt-check {
    margin: 0 2px;
    vertical-align: middle;
}

.DMReadReceipt-statusMessage {
    display: inline-block;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 16px;
    overflow: hidden;
    position: relative;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.DMReadReceipt-statusMessage>span {
    display: block;
    transition: all .2s ease-out;
}

.DMReadReceipt-statusMessage>span:first-child {
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.DMReadReceipt-statusMessage>span:last-child {
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.DMSpinner {
    /*background-image: url(../../img/t1/spinners/spinner-rosetta-blue-26x26@2x.gif);*/
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 26px;
    width: 26px;
    margin: auto;
}

.DMTokenizedMultiselectSuggestion {
    border: 1px solid transparent;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 15px;
}

.DMTokenizedMultiselectSuggestion.is-highlighted {
    background-color: #f5f8fa;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
}

.DMTokenizedMultiselectSuggestion-body {
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.DMTokenizedMultiselectSuggestion-selectedIndicator,
.DMTokenizedMultiselectSuggestion-preselectedIndicator {
    color: #1da1f2;
    display: none;
}

.DMTokenizedMultiselectSuggestion-state {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    white-space: nowrap;
}

.DMTypeaheadHeader {
    color: #14171A;
    display: block;
    font-weight: bold;
    padding: 5px 15px;
}

.DMTypeaheadItem {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 32px;
    position: relative;
}

.DMTypeaheadItem-avatar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 32px;
    margin-right: 10px;
    width: 32px;
}

.DMTypeaheadItem-body {
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.DMTypeaheadItem-title {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.DMTypeaheadSuggestions {
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.DMTypeaheadSuggestions-item {
    cursor: pointer;
}

.DMTypingIndicator {
    display: block;
    line-height: 0;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

.DMTypingIndicator-avatarsContainer {
    display: inline-block;
    position: relative;
}

.DMTypingIndicator-messageBubble {
    display: inline-block;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

.DMUpdateAvatar {
    position: relative;
    text-align: center;
}

.DMUpdateAvatar.has-defaultAvatar .DMUpdateAvatar-remove,
.DMUpdateAvatar.has-defaultAvatar .DMUpdateAvatar-view {
    display: none;
}

.DMUpdateAvatar-avatar {
    width: 38px;
    height: 38px;
    border-radius: 100%;
}

.DMUpdateAvatar-photoSelector {
    position: relative;
}

.DMUpdateName-name.edit-allowed {
    cursor: pointer;
}

.DMUpdateName-form {
    position: relative;
}

.DMUpdateName-form.is-invalid .DMUpdateName-confirm {
    display: none;
}

.DMUpdateName-form.is-invalid .DMUpdateName-input {
    color: #e0245e;
}

.DMUpdateName-screenName {
    display: none;
}

.EdgeButton, .EdgeButton:visited {
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.EdgeButton:active, .EdgeButton:focus, .EdgeButton:hover {
    text-decoration: none;
}

.EdgeButton--danger {
    background-color: #E0245E;
    border: 1px solid #E0245E;
    color: #FFF;
}

.EdgeButton.EdgeButton--icon {
    border-radius: 50px;
    line-height: 1;
    padding: 0;
}

.EdgeButton--icon, .EdgeButton--icon.EdgeButton--medium {
    font-size: 18px;
    height: 34px;
    width: 34px;
}

.EdgeButton--icon.EdgeButton--small {
    font-size: 14px;
    height: 26px;
    width: 26px;
}

.EdgeButton--primary {
    background-color: #1DA1F2;
    border: 1px solid #1DA1F2;
    color: #FFF;
}

.EdgeButton--primary:active {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #4AB3F4;
}

.EdgeButton--primary, .EdgeButton--primary:focus {
    background-color: #4AB3F4;
    border-color: transparent;
}

.EdgeButton--primary.disabled, .EdgeButton--primary[disabled],
.EdgeButton--primary[disabled]:hover, .EdgeButton--primary[aria-disabled=true] {
    opacity: .3;
    -ms-filter: "alpha(opacity=30)";
}

.EdgeButton--primary:hover, .EdgeButton--primary:active {
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}

.EdgeButton--primary:hover {
    background-color: #006DBF;
    border-color: #006DBF;
    color: #FFF;
}

.EdgeButton--secondary {
    background-color: #FFF;
    border: 1px solid #1DA1F2;
    color: #1DA1F2;
}

.EdgeButton--secondary:active {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #1DA1F2;
}

.EdgeButton--secondary, .EdgeButton--secondary:hover, .EdgeButton--secondary:focus, .EdgeButton--secondary:active {
    border-color: #1DA1F2;
    color: #1DA1F2;
}

.EdgeButton--secondary:hover, .EdgeButton--secondary:active {
    background-color: #E8F5FD;
}

.EdgeButton--small {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 12px;
}

.EdgeButton--tertiary {
    background-color: #FFF;
    border: 1px solid #66757F;
    color: #66757F;
}

.EmojiCategoryIcon {
    background-image: none,url(../../../images/chat_emojis/t1/emoji-categories.png) !important;
    background-repeat: no-repeat;
    background-size: 48px 216px,48px 216px;
    height: 24px;
    margin: 7px 13px 7px 0;
    width: 24px;
}

.EmojiCategoryIcon.is-active, .EmojiCategoryIcon:active, .EmojiCategoryIcon:not([disabled]):hover, .EmojiCategoryIcon:focus {
    background-image: url(../../../images/chat_emojis/t1/emoji-categories.png),none !important;
}

.EmojiCategoryIcon--activity {
    background-position: 0 -96px,-24px -96px;
}

.EmojiCategoryIcon--flags {
    background-position: 0 -192px,-24px -192px;
}

.EmojiCategoryIcon--food {
    background-position: 0 -72px,-24px -72px;
}

.EmojiCategoryIcon--nature {
    background-position: 0 -48px,-24px -48px;
}

.EmojiCategoryIcon--new {
    background-position: 0 -216px,-216px -216px;
}

.EmojiCategoryIcon--objects {
    background-position: 0 -144px,-24px -144px;
}

.EmojiCategoryIcon--people {
    background-position: 0 -24px,-24px -24px;
}

.EmojiCategoryIcon--recent {
    background-position: 0 0,-24px 0;
}

.EmojiCategoryIcon--symbols {
    background-position: 0 -168px,-24px -168px;
}

.EmojiCategoryIcon--travel {
    background-position: 0 -120px,-24px -120px;
}

.EmojiPicker input[type="radio"].EmojiPicker-skinTone {
    height: 17px;
    margin-left: 5px;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    padding: 0;
    width: 17px;
}

.EmojiPicker-categoryHeader {
    background-color: #fff;
    border-bottom: 1px solid #e6ecf0;
    color: #657786;
    font-size: 14px;
    padding: 6px 18px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: bold;
    margin: 0;
}

.EmojiPicker-categoryItems {
    padding: 8px 12px;
    /*width: 206px;*/
}

.EmojiPicker-categoryColumn {
    border-right: 1px solid #e6ecf0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    padding-top: 4px;
    vertical-align: top;
    width: 40px;
}

.EmojiPicker-clearQuery {
    color: #ccd6dd;
    position: absolute;
    right: 18px;
    top: 14px;
}

.EmojiPicker-content {
    height: 100%;
    text-align: right;
    width: 100%;
}

.EmojiPicker-content.Caret:before {
    border-color: rgba(0,0,0,0.1);
    border-width: 8px;
}

.EmojiPicker-content.Caret:before, .EmojiPicker-content.Caret.Caret--stroked:after {
    left: 10px;
}

.EmojiPicker-content--right.Caret:before, .EmojiPicker-content--right.Caret.Caret--stroked:after {
    left: calc(100% - 10px);
}

.EmojiPicker-diversityRow {
    border-top: 1px solid #e6ecf0;
    padding: 5px 28px 0 0;
    text-align: right;
}

.EmojiPicker-dropdownMenu.dropdown-menu {
    height: 350px;
    padding: 0;
    top: 115%;
    width: 280px;
}

.EmojiPicker-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.25em 1.25em;
    border-radius: 2px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 14px;
    height: 1.25em;
    margin: 1.5px;
    padding: 3.5px;
    transition: background-size .2s;
    vertical-align: top;
    width: 1.25em;
}

.EmojiPicker-item.is-focused,
.EmojiPicker .EmojiCategoryIcon:focus,
.EmojiPicker-skinTone:focus + .EmojiPicker-skinToneSwatch {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 2px 4px rgba(29,161,242,0.4);
}

.EmojiPicker-mainColumn {
    display: inline-block;
    height: 300px;
    text-align: left;
    vertical-align: top;
    width: 228px;
}

.EmojiPicker-query {
    background-color: #f5f8fa;
    background-image: linear-gradient(#fff,#f5f8fa);
    background-repeat: repeat-x;
    border-bottom: 1px solid #e6ecf0;
    border-radius: 4px 4px 0 0;
    /*height: 29px;*/
    margin: 0;
    padding: 8px;
    position: relative;
}

.EmojiPicker-query input[type=text].EmojiPicker-queryInput {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 24px 4px 8px;
    transition: none;
    width: 100%;
}

.EmojiPicker-scrollableRow {
    height: 270px;
    overflow-x: hidden;
    overflow-y: auto;
}

.EmojiPicker-skinTone:checked+.EmojiPicker-skinToneSwatch .Icon {
    color: #fff;
    display: inline-block;
    left: 4px;
    position: absolute;
    text-shadow: 0.5px 1.5px 0 rgba(0, 0, 0, 0.25);
}

.EmojiPicker-skinTone[value=""]+.EmojiPicker-skinToneSwatch {
    background: #ffcc4d;
}

.EmojiPicker-skinTone[value="1f3fb"]+.EmojiPicker-skinToneSwatch {
    background: #F7DECE;
}

.EmojiPicker-skinTone[value="1f3fc"]+.EmojiPicker-skinToneSwatch {
    background: #F3D2A2;
}

.EmojiPicker-skinTone[value="1f3fd"]+.EmojiPicker-skinToneSwatch {
    background: #D5AB88;
}

.EmojiPicker-skinTone[value="1f3fe"]+.EmojiPicker-skinToneSwatch {
    background: #AF7E57;
}

.EmojiPicker-skinTone[value="1f3ff"]+.EmojiPicker-skinToneSwatch {
    background: #7C533E;
}

.EmojiPicker-skinToneSwatch {
    border-radius: 2px;
    display: inline-block;
    height: 17px;
    margin-left: -17px;
    position: relative;
    vertical-align: -2px;
    width: 17px;
    z-index: -1;
}

.EmojiPicker-skinToneSwatch .Icon {
    display: none;
}

.EmojiPicker-trigger {
    color: #AAB8C2;
    line-height: 1;
}

.EmojiPicker-trigger .Icon {
    color: inherit;
    font-size: 19px;
}

.EmojiPicker--top .EmojiPicker-dropdownMenu {
    bottom: 130%;
    top: auto;
}

.FlexEmbed {
    display: block;
    overflow: hidden;
    position: relative;
}

.FlexEmbed:before {
    content: "";
    display: block;
    width: 100%;
}

.FlexEmbed-item, .FlexEmbed iframe, .FlexEmbed embed, .FlexEmbed object {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.FoundMediaSearch-dropdownMenu.dropdown-menu {
    padding: 0;
    width: 450px;
}

.FoundMediaSearch-items {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.FoundMediaSearch-query {
    background-color: #F5F8FA;
    background-repeat: repeat-x;
    background-image: linear-gradient(#FFF, #F5F8FA);
    border: 1px solid #E6ECF0;
    border-radius: 4px 4px 0 0;
    position: relative;
    padding: 8px;
    margin: 0;
}

.FoundMediaSearch-query input[type=text].FoundMediaSearch-queryInput {
    padding: 4px 4px 4px 24px;
    transition: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.FoundMediaSearch-results {
    overflow: auto;
    min-height: 270px;
    max-height: 810px;
    padding: 3px 6px;
    will-change: transform;
}

.fullname {
    word-break: break-all;
    color: #14171A;
    font-size: 14px;
    font-weight: bold;
}

.icon-btn {
    background: transparent;
    border: 1px solid transparent;
    color: #1C94E0;
    opacity: .8;
    -ms-filter: "alpha(opacity=80)";
    padding: 4px 10px;
}

.icon-btn .text {
    font-size: 12px;
    font-weight: normal;
    margin-left: 3px;
    position: relative;
    top: -6px;
}

.Icon--verified {
    color: #1da1f2;
}

.Icon:after, .Icon:before {
    display: block;
    font-family: "edgeicons";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Icon--verified:before {
    content: "\f032";
    font-size: .7em;
    left: 26%;
    line-height: 1;
    position: absolute;
    top: 20%;
    color: #fff;
}

.image-selector {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.image-selector .file-input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    padding-top: 100px;
}

.InputToken {
    background: #1da1f2;
    border: 1px solid transparent;
    border-radius: 12px;
    color: #fff;
    cursor: default;
    display: inline-block;
    margin: 2px;
    padding: 1px 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.InputToken-delete {
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    vertical-align: top;
}

.is-showPlaceholder:before {
    pointer-events: none;
}

.Media {
    border-radius: inherit;
    position: relative;
}

.Media-photo, .Media-video {
    border-radius: inherit;
    overflow: hidden;
}

.Media-photo img, .Media-video video {
    border-radius: inherit;
    display: block;
    width: 100%;
}

.modal .modal-tweet {
    padding: 0;
    text-align: left;
    background-color: #fff;
}

.modal-container {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    overflow: auto;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-content: inherit;
    z-index: 5000;
}

.photo-selector {
    position: relative;
}

.video-selector {
    position: relative;
}

.photo-selector:hover .btn, .icon-btn:hover, .video-selector:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(29, 161, 242, 0.1));
}

.photo-selector:hover .btn, .icon-btn:hover, .icon-btn:active, .icon-btn.active, .icon-btn.enabled, .video-selector:hover {
    border-color: #1DA1F2;
    border-color: rgba(29, 161, 242, 0.4);
    color: #1DA1F2;
}

.PlayableMedia-container {
    border: 1px solid #E6ECF0;
    border-radius: 4px;
}

.PlayableMedia-player {
    background-color: #CCD6DD;
    background-size: cover;
    border-radius: inherit;
    cursor: default;
    height: 0;
    overflow: hidden;
    position: relative;
}

.PlayableMedia-player .PlayableMedia-reactWrapper {
    height: 100%;
    position: absolute;
    width: 100%;
}

.RichEditor div[contenteditable], .RichEditor div[contenteditable]:focus, .RichEditor div[contenteditable].fake-focus {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 8px;
}

.RichEditor.RichEditor--emojiPicker div[contenteditable], .RichEditor.RichEditor--emojiPicker div[contenteditable]:focus,
.RichEditor.RichEditor--emojiPicker div[contenteditable].fake-focus {
    padding-right: 31px;
}

.RichEditor-bottomItems {
    bottom: 0;
    margin: 0 8px 4px 4px;
}

.RichEditor-mozillaCursorWorkaround {
    display: inline;
}

.RichEditor-pictographs {
    font-size: 14px;
}

.RichEditor-rightItems {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: absolute;
    right: 0;
}

.RichEditor-rightItems>div {
    margin-left: 8px;
}

.RichEditor-scrollContainer {
    overflow-y: auto;
    margin: -20px 0;
    max-height: 284px;
    position: relative;
}

.t1-infotext {
    font-size: 12px;
    color: #657786;
    padding-right: 12px;
}

.t1-label {
    display: block;
    margin-bottom: 5px;
    color: #14171A;
    cursor: pointer;
}

.TokenizedMultiselect-input {
    border: 0 !important;
    box-shadow: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 24px;
    outline: 0;
    margin: 2px 0;
    padding: 2px !important;
    resize: none;
    vertical-align: top;
    width: 100% !important;
}

.TokenizedMultiselect-inputContainer {
    border: 1px solid #97E3FF;
    border-radius: 5px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    line-height: 20px;
    margin: 10px 15px;
    padding: 2px;
    position: relative;
}

.TweetBoxExtras {
    -ms-flex-negavie: 0;
    flex-shrink: 0;
}

.TweetBoxExtras-item {
    display: inline-block;
    position: relative;
}

.TweetTextSize {
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.tweet-form.has-thumbnail .thumbnail-container {
    display: block;
}

.tweet-form .attribution {
    display: none;
    margin-top: 8px;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
}

.tweet-form .ComposerThumbnails {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.tweet-form .thumbnail-container {
    background-color: #f5f8fa;
    border-radius: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    box-shadow: inset 0 1px 0 #ccd6dd;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    max-width: 100%;
    overflow: hidden;
    transition: height 300ms cubic-bezier(0.455,0.03,0.515,0.955);
}

.tweet-form .thumbnail-container .thumbnail-wrapper {
    padding: 8px 16px;
}

.tweet-form .tweet-box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 80px;
    overflow: hidden;
    padding: 8px;
    vertical-align: top;
    width: auto;
}

.tweet-form div.rich-editor {
    display: block;
    word-wrap: break-word;
    -webkit-nbsp-mode: normal;
}

.tweet-form div.rich-editor.is-showPlaceholder:before, .tweet-form div.rich-editor:empty:before {
    content: attr(data-placeholder-default);
    color: #AAB8C2;
    position: absolute;
}

.TypingIndicatorMessageBubble {
    line-height: 0;
}

.TypingIndicatorMessageBubble-dot {
    display: inline-block;
    height: 8px;
    position: relative;
    width: 8px;
}

.TypingIndicatorMessageBubble-dotContainer {
    background: #E6ECF0;
    border-radius: 5px;
    display: inline-block;
    line-height: 0;
    overflow: hidden;
    padding: 7px;
    position: relative;
}

.u-borderRadiusInherit {
    border-radius: inherit !important;
}

.u-borderUserColorLighter {
    border-color: #C6E7EB !important;
}

.u-bgUserColorLightest {
    background-color: #E8F5FD !important;
}

.u-chromeOverflowFix {
    transform: translateZ(0);
}

.u-dir[dir="ltr"] {
    direction: ltr!important;
    text-align: left!important;
    unicode-bidi: embed;
}

.u-flexRow {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.u-hidden, .u-emptyHide:empty {
    display: none !important;
}

.u-hiddenVisually {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    font-size: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.u-posRelative {
    position: relative !important;
}

.u-scrollY {
    overflow-y: scroll !important;
}

.u-table {
    display: table !important;
}

.u-textCenter {
    text-align: center!important;
}

.u-textTruncate {
    max-width: 100%;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    word-wrap: normal!important;
}

.u-textUserColorLight {
    color: #A4D9F9 !important;
}

.u-textUserColor, .u-textUserColorHover:hover, .u-textUserColorHover:focus {
    color: #1DA1F2 !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/******************** My Style ******************/
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.vertical-align-center .modal-content {
    max-width: 750px;
    min-width: 400px;
    width: 45vw;

    height: inherit;
    margin: 0 auto;
}
.item1 { grid-area: image1; }
.item2 { grid-area: image2; }
.item3 { grid-area: image3; }
.item4 { grid-area: image4; }
.grid-container1 {
  display: grid;
  grid-template-areas:
    "image1 ";
  grid-gap: 2px;
  background-color: #2196F3;
  padding: 2px;
}
.grid-container2 {
  display: grid;
  grid-template-areas:
    "image1 image1 image1 image2 image2 image2";
  grid-gap: 2px;
  background-color: #2196F3;
  padding: 2px;
}
.grid-container3 {
  display: grid;
  grid-template-areas:
    "image1 image1 image1 image2 image2 image2"
    "image1 image1 image1 image3 image3 image3";
  grid-gap: 2px;
  background-color: #2196F3;
  padding:2px;
}
.grid-container4 {
  display: grid;
  grid-template-areas:
    "image1 image1 image1 image2 image2 image2"
    "image3 image3 image3 image4 image4 image4";
  grid-gap: 2px;
  background-color: #2196F3;
  padding: 2px;
}
.grid-container > div {

}
.grid-width {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin: 0 8px 0 0;
}
.item1 {
    grid-area: image1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.item2 {
    grid-area: image2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.item3 {
    grid-area: image3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.item4 {
    grid-area: image4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.grid-width img {
    min-width: 100%;
    height: 100%;
	position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
@media only screen and (max-width: 400px) {
    .vertical-align-center .modal-content {
        min-width: 100vw;
    }
}

/* Custom Styles */
.modal {
    overflow-y: auto;
}
