<div class="container">

    <div class="directory-intro">

        <h2>{__("Be Connected")}</h2>

        <p class="mt20">

            {__("Discover new people, create new connections and make new friends")}

        </p>

    </div>

    <div class="row">

        <!--<div class="col-xs-12 col-sm-4">

            <a href="/directory/posts" class="panel-directory">

                <img src="/content/themes/{$system['theme']}/images/directory/newsfeed.png">

                <div class="title">{__("News Feed")}</div>

                <p>

                    {__("See what everyone’s up to and what’s on their minds")}

                </p>

            </a>

        </div>-->
        
        <div class="col-xs-12 col-sm-4">

            <a href="/" class="panel-directory">

                <img src="/content/themes/{$system['theme']}/images/directory/news-reporter.png">

                <div class="title">{__("Video Livestreaming")}</div>

                <p>

                    {__("Never get restricted to share your viewpoints in real time")}

                </p>

            </a>

        </div>

        <div class="col-xs-12 col-sm-4">

            <a href="/directory/users" class="panel-directory">

                <img src="/content/themes/{$system['theme']}/images/directory/users.png">

                <div class="title">{__("Users")}</div>

                <p>

                    {__("Help friends know you better and show them what you have in common")}

                </p>

            </a>

        </div>

        <div class="col-xs-12 col-sm-4">

            <a href="/directory/pages" class="panel-directory">

                <img src="/content/themes/{$system['theme']}/images/directory/pages.png">

                <div class="title">{__("Pages")}</div>

                <p>

                    {__("Never miss a thing out! Keep in touch with your fans and customers")}

                </p>

            </a>

        </div>

       <!-- <div class="col-xs-12 col-sm-4">

            <a href="/directory/groups" class="panel-directory">

                <img src="/content/themes/{$system['theme']}/images/directory/groups.png">

                <div class="title">{__("Groups")}</div>

                <p>

                    {__("Communicate and collaborate with the people who share your interests")}

                </p>

            </a>

        </div>

        <div class="col-xs-12 col-sm-4">

            <a href="/directory/events" class="panel-directory">

                <img src="/content/themes/{$system['theme']}/images/directory/events.png">

                <div class="title">{__("Events")}</div>

                <p>

                    {__("Members can organize community events for online and offline doings")}

                </p>

            </a>

        </div>

        <div class="col-xs-12 col-sm-4">

            <a href="/directory/games" class="panel-directory">

                <img src="/content/themes/{$system['theme']}/images/directory/photos.png">

                <div class="title">{__("Games")}</div>

                <p>

                    {__("Playing games always fun, Play with the people who share your interests")}

                </p>

            </a>

        </div>-->

    </div>

</div>