<div class="site_bar_new">

{$user->_data.popular_hash_tag}
<!-- Disable weekily trends -->
<!--<div class="sidebar_trends">
<h3>{__("Weekly Trends for you")}</h3>

{if $user->_data.popular_tag != 'No Record Found'}
{foreach $user->_data.popular_tag as $custom_field}
<div class="fb_post_rep">
<h4><a href="/trend_post.php?tags={$custom_field['url_tags']}">{$custom_field['tags']}</a></h4>
<p>{$custom_field['count']} {__("Posts")}</p>
</div>
{/foreach}
{else}
<h4>{__("No Trends for you.")}</h4>
{/if}

</div>-->

</div>
