<div class="modal-body plr0 ptb0">

    <div class="x-form publisher mini custom-message-content " >



       

		<div class="panel-heading clearfix">

			<button type="button" class="close mr10 pull-right flip" data-dismiss="modal" aria-hidden="true">×</button>	

			<div class="pull-right flip"> 

				

				

			</div> 

			<div class="mt5">{$user_detail['name']} </div> 

		</div>

		

		 <div class=" clearfix"></div>

		<div class="js_conversation-container" id="chat-box">

		

                   

                    <div class="panel-body panel-messages " data-uid={$user_detail['user_id']}>

                       

                         

                            <!--<div class="tags"> 

								<div class="data-container clickable small js_tag-add " data-uid="{$user_detail['user_id']} ">

								</div>

							</div>-->

                       

                        <div class="chat-attachments attachments clearfix x-hidden">

                            <ul>

                                <li class="loading">

                                    <div class="loader loader_small"></div>

                                </li>

                            </ul>

                        </div>

                        <div class="chat-form-container">

                            <div class="x-form chat-form">

                                <div class="chat-form-message">

                                    <textarea class="js_autosize js_post-message msg1" placeholder='{__("Write a message")}'></textarea>

                                </div>

                                <div class="x-form-tools">

                                    <div class="x-form-tools-attach">

                                        <i class="fa fa-camera js_x-uploader" data-handle="chat"></i>

                                    </div>

                                    <div class="x-form-tools-emoji js_emoji-menu-toggle">

                                        <i class="fa fa-smile-o fa-lg"></i>

                                    </div>

                                    {include file='_emoji-menu.tpl'}

                                </div>

                            </div>

                        </div>

                    </div>

                

       </div>

    </div>

</div>

<div class="modal-footer custom-model-footer"><button type="submit" class="btn btn-primary post-chat">{__("Send")}</button></div>



<script type="text/javascript">

   $(function() {





text_count_msg_function_one();

}); 



    function text_count_msg_function_one()

    {



        var msg1=$('textarea.msg1').val();

        var leng1=msg1.length;

            text_counter= leng1;       

        

            if(text_counter==0)

            {

                $("button.post-chat").attr("disabled",true);

                return true;

            }

            else

            {

                $("button.post-chat").attr("disabled",false);

                return false;

            }

    }

</script>