<div class="modal-body plr0 ptb0">
    <div class="x-form publisher mini">

        {include file='ajax.chat.conversation.tpl'}
    </div>
</div>
<div class="modal-footer custom-model-footer"><button type="submit" class="btn btn-primary post-chat">Send</button></div>

<script type="text/javascript">
   $(function() {


text_count_msg_function_two();
}); 

    function text_count_msg_function_two()
    {

        var msg2=$('textarea.js_post-message').val();
        var leng2=msg2.length;
            text_counter= leng2;       
        
            if(text_counter==0)
            {
                $("button.post-chat").attr("disabled",true);
                return true;
            }
            else
            {
                $("button.post-chat").attr("disabled",false);
                return false;
            }
    }
</script>