.vjs-tech { object-fit: cover; }
.banner-text-section {

}
.others , .boss, .other-title-bar {
  border: 1px solid #e7e7e7;
  padding: 20px;
  background: #fafafa;
}
.others  {
  margin-bottom: 20px;
}
.other-title-bar {
  margin-top:30px;
  overflow:hidden;
}
.live_video {
  display:none;
}
.broadcast-live-videos h2 {
  margin-bottom:30px;
}

.other-title-bar p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 30px;
}
.other-title-bar h4 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}
.live_video {
  overflow: hidden;
  margin-bottom: 25px;
}
.video_broadcast video {
  width: 100% !important;
}
.video-des, .video-view {
  font-size: 18px !important;
  padding: 10px 0;
}
.boss , .others {
  text-align: center !important;
  min-height: 70px !important;
  width:100% !important;
}
.description {
  text-align: left !important;
  padding-left: 20px;
}
.post_name {
  font-size: 24px;
  text-align: left;
  padding-left: 5px;
  font-weight: 600;
  margin-bottom:10px;
}
.video-title {
  font-size: 26px;
}
.loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.8) url(http://googl-url-shortener.googlecode.com/files/spin_24x24_loading.gif) center center no-repeat;
  z-index: 1000;
}
.loader span{
  display:block;

  margin-top: 30px;
}
.loader:after{
  top: -48px;
  left: 50%;
}
.loading-gif {
  text-align: center;
  margin-top: 50px;
}
.loading-gif img {
  width: 15%;
  margin: 0 auto 10px;
  display: block;
}
#sb_chat .chat-board{
  max-height: 474px;
  overflow-y: auto;
}
#sb_chat {
  height: 490px !important;
}
#loadMore {
  background-color: #222;
  display: inline;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
#sb_chat .chat-board {
  margin-top:20px;
}
.other-title-bar .google_link {
  margin-top: 25px;
}
.other-title-bar .google_link  a {
  margin-right:10px;
}
.other-title-bar .google_link img {
  width: 15%;
}
.video-page.other-title-bar .google_link img {
  width: 25%;
}
.header-right .navbar-container .text-link {

  margin: 18px 0;

}
.download-video-link > a{
  color:#657786;
  margin-left: 12px;
}
.download-video-link > a:hover{
  color:#657786;
}
@media (max-width: 991px) {
  #sb_chat .chat-board {
    width: calc(100% - 12px) !important;
    margin-left: 5px !important;
    margin-top: 20px !important;
  }
  .video-title {
    font-size: 20px;
  }
  .video-des, .video-view {
    font-size: 16px !important;
    padding: 5px 0;
  }
}
@media(max-width: 767px){
  .description {
    padding-left: 3px;
    margin-top: 20px;
  }
  .login_footer, .left-section ul{
    display:block !important;
  }
  .other-title-bar .google_link img {
    width: 120px;
  }

  .right-section {
    margin-top: 10px !important;
  }
  body.visitor {
    padding-top: 50px;
  }



  .visitor .main-header {

    border-bottom: 1px solid rgba(0,0,0,0.25);
  }
  .header-right .navbar-container .text-link {
    margin: 0px 0;
  }
  .mobile-menu {
    margin-top: 10px;
    overflow: hidden;
  }
  .mobile-menu span.text-link.dev {
    font-size: 13px;
    height: 24px;
  }
  .mobile-menu a {
    display: inline-flex;
    margin-top: -2px;
    margin-left: 4px;
    height: 24px;
  }
  .header-container .header-right {
    padding-top: 10px;
    width: auto;
  }
  .main-header .header-right .nav {
    margin-top:0;
  }
  .header-container .header-right {
    padding-top: 0px;
  }
  .main-header .header-right .nav {
    margin: 2px 0 0 0;
  }
  .mobile-menu a .broadcasts_icon {
    margin-top:2PX;
  }


}
@media(max-width: 479px){
  .video-title {
    font-size: 24px;
  }

}
