<div class="comment-replace">
    <div class="comment-text js_readmore" dir="auto">{$_comment['text']|unescape:'html'}</div>
    <div class="comment-text-plain hidden">{$_comment['text_plain']}</div>
    <div class="comment-text-id hidden">{$_comment['comment_id']}</div>
    {if $_comment['image'] != ""}
        <span class="text-link js_lightbox-nodata" data-image="{$system['system_uploads']}/{$_comment['image']}">
            <img alt="" class="img-responsive" src="{$system['system_uploads']}/{$_comment['image']}">
        </span>
    {/if}
</div>
