<!-- posts-filter -->
<div class="posts-filter">
    <span>{__("Pinned Post")}</span>
</div>
<!-- posts-filter -->

{if {$post['post_id']} != 'a'}
	{include file='__feeds_post.tpl' standalone=true pinned=true}
{/if}