<textarea  autocapitalize="sentences" autocomplete="on" autocorrect="on" placeholder="What's happening?" spellcheck="true" dir="auto" class="rn-30o5oe rn-wib322 rn-ou6ah9 rn-t12b5v rn-zmljjp rn-pm2fo rn-13yce4e rn-fnigne rn-ndvcnb rn-gxnn5r rn-deolkf rn-homxoj rn-1m1wadx rn-poiln3 rn-7cikom rn-1i1jh6w rn-n8qunm rn-wk8lta rn-9aemit rn-1mdbw0j rn-gy4na3 rn-1lrr6ok rn-1dz5y72 rn-1ttztb7 rn-13qz1uu" data-testid="tweet-textarea" style="height: 250px; width:100%;"></textarea>
<hr>
<textarea style="height: 250px; width:100%;"></textarea>